@charset 'UTF-8';
@import "main_settings";

@import "../../node_modules/zurb-foundation-5/scss/foundation";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "mixins";




.cke_dialog_body{
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"]{
    height: 30px;
    margin: 0;
    padding: 0;
    border:1px solid lightgray;
    @include border-radius(2px);
    @include box-shadow(0 1px 1px rgba(0,0,0,0.1));
  }  
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"]{
  @include box-shadow();
  height: 48px;
  border: 1px solid lightgray;
  padding-left: 16px;
  color: $inputcolor;
  @include border-radius(2px);
  &:focus{
    @include box-shadow(0 2px 1px rgba(0,0,0,0.4));
    background: white;
    border: 3px solid #70E8D7;
  }
}
textarea{
  @include box-shadow();
  border: 1px solid lightgray;
  padding-left: 16px;
  padding-top: 16px;
  color: $inputcolor;
  min-height: 200px;
  @include border-radius(2px);
  &:focus{
    @include box-shadow(0, 3px, 3px, rgba(0,0,0,0.5));
    background: white;
    border: 1px solid white;
  }
}

select{
  height: 45px;
}


.admin-form{
  .file{
    background: whitesmoke url(../img/file.png) center center no-repeat;
    overflow: hidden;
    height: 100px;
    width: 100%;
    border: 1px dashed #70E8D7;
    margin-bottom: 10px;
    input[type="file"]{
      display: block !important;
      opacity: 0 !important;
      overflow: hidden !important;
      height: 100px;
      width: 100%;
      &:focus{
        border: 1px solid #70E8D7;
      }
    }
  }
  
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"]{
    @include box-shadow(0, 0, 0, transparent);
    background: transparent;
    height: 48px;
    border: 0;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
    color: $inputcolor;
    @include border-radius(0);
    &:focus{
      background: white;
    }
  }
  textarea{
    @include box-shadow(0, 0, 0, transparent);
    border: 0;
    border-bottom: 1px solid lightgray;
    padding-left: 16px;
    padding-top: 16px;
    color: $inputcolor;
    min-height: 200px;
    @include border-radius(2px);
    &:focus{
    }
  }
}

input[type="search"].search{
  @include border-radius(25px);
  @include box-shadow(0, 0, 0, transparent);
  background: whitesmoke;
  max-width: 300px;
}

.fa-large{
  font-size: 21px;
}

.button{
  @include border-radius(2px);
  @include box-shadow();
}

.cke.cke_reset{
  margin: 20px 0;
}
.inside-body{
  position: relative;;
  min-height: 83.5vh;
}
