@import "mixins";
//VARIABLES

$main-bg:#f6f6f6;

.alert-box.hidden{
  display: none;
}
.redtxt{
  color: #ff0000;
}

.whitetxt{
  color: white !important;
}

.bluetxt{
  color: $blue;
}

.mb120{
  margin-bottom: 120px;
}

.metalbluetxt{
  color: #75e7d7;
}

.full{
  width: 100%;
}

.nm{
  margin: 0 !important;
}

.normal{
  font-weight: normal;
}

.light{
  font-weight: 300;
}

.db{
  display: inline-block;
}

.inner-padding{
  padding:0 20px;
}

.upper{
 text-transform: uppercase; 
}
///VARIABLES

.spacing{
  padding-bottom: 50px;
}

.main-body{
  position: relative;
  background: #f5f5f5;
  min-height: 83.5vh;
}

.main-client-side{
  background: $main-bg;
  padding: 50px 0;
  min-height: 80vh;
}


#calendar{
  &.homeone{
    .fc-title{
      display: none;
    }
  }
  table{
    .fc-row .fc-content-skeleton td{
      border-color:#ddd;
    }
    tr{
      th{
        &.fc-day-header{
         background: #fff; 
         &.fc-sun, &.fc-sat{
            background: #efefef;
          }
         span{
           display: block;
           padding: 13px 0;
         }
        }
      }
      td{
        &.fc-day-top{
          background: #fff;
          opacity: 1;
          cursor: pointer;
          &.fc-sun, &.fc-sat{
            cursor: default;
          }
          span.fc-day-number{
            color: #fff;
            @include border-radius(100%);
            width: 30px;
            height: 30px;
            background-color: #548fa7;
            text-align: center;
            display: inline-block;
            line-height: 31px;
            margin: 10px;
            font-weight: normal;
            font-size: 16px;
          }
        }
        &.fc-day{
          cursor: pointer;
          background: white;
        }
        &.fc-past, &.fc-sun, &.fc-sat{
          background: #efefef;
          cursor: default;
          span{
            opacity: .5;
          }
        }
      }
    }
  }
}

.available{
  margin-right: 10px;
  position: relative;
  top: 4px;
  text-indent: -9999px;
  background: #52caf5;
  @include border-radius(100%);
  display: inline-block;
  width: 20px;
  height: 20px;
  &.not{
    background: #ff6d6d;
  }
  &.fc-more{
    top: -4px;
  }
}

.posibilities{
  position: absolute;
  top: 10px;
  left: 300px;
  h5{
    margin: 0 10px;
    display: inline-block;
  }
}

.post-calendar{
  input[type="text"],input[type="email"]{
    background: #fafafa;
    border: 0;
    margin: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  }
  #timepicker{
    background: #fff;
  }
  label{
    margin: 10px 0 0 0;
    padding: 10px;
  }
  select{
      background-color: #fafafa;
      border: 0;
      margin: 0;
      span{
        text-align: right;
        color: rgba(80, 80, 80, 0.54);
      }
  }
}

h3#modal-date{
  font-size: 20px;
  background: #efefef;
  margin: 0;
  padding: 20px 20px 15px 20px;
}

.modal-body{
  position: relative;
}
.ui-timepicker-wrapper{
  width: 29.8% !important;
  max-width: 62.5rem;
}

#map {
   position:absolute; top:0; bottom:0; width:100%; height: 93vh;
   @media only screen and (min-width: 40em){ 
     min-height: 84.5vh;
   }
   @media screen and (min-height: 500px) and (max-height: 800px) {
     min-height: 94.5vh;
   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
     min-height: 99.5vh;
     padding-bottom:50px;
   }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     min-height: 70.5vh;
   }
}

.block{
  text-align: center;
  width: auto;
  border: 4px solid white;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: 70px;
  @media only screen and (min-width: 90.063em) and (max-width: 120em) { 
    top: 140px;
  }
  h2{
    width: auto;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 1px;
  }
}

.text-banner{
  padding-top: 20vh;
  padding-left: 25px;
  &.second{
    .the-text{
      @include border-radius(10px);
      padding: 15px 25px;
      display: table-cell;
      background: rgba(255,255,255,.7);
      h3,h4{
        color: #3D70BB;
      } 
    }
  }
  &.third{
      .the-text{
        @include border-radius(10px);
        padding: 15px 25px;
        display: table-cell;
        background:white;
        h3,h4{
          color: #3D70BB;
        }
      }
  }
  h3,h4{
    font-weight: normal;
    color: white;
  }
}

#jsalert{
  display: none;
}

.button.agendar{
  margin-top: 20px;
  color: #3D70BB;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
}

.nav{
  position: relative;
  height: auto;
  padding: 0 10px;
  background: white;
  @media only screen and (min-width: 40em){ 
    padding: 30px 30px;
    background: white;
  }
  &.home{
    background: #3375BF url("../img/slider1.jpg") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    height: 70vh;
    ul{
      li{
        a{
          color: #fff;
        }
      }
    }
  }
  &.form{
    border-bottom: 1px solid rgb(69,98,137);
    background: #0058a0;
    .xclose{
      position: absolute;
      top: 35px;
      right: 10px;
      display: inline-block;
      color: white;
      font-size: 20px;
      span{
        color: #fff;
      }
      &:hover{
        color: #fff;
        span{
          color: #fff;
        }
      }
      @media only screen and (min-width: 40em){ 
        display: none;
      }
    }
    ul{
      li{
        a{
          color: #fff;
          width: 100%;
          display: block;
          @media only screen and (min-width: 40em){ 
            width: auto;
            display: inline;
          }
        }
      }
    }
  }
  a.logo{
    width: 50%;
    display: inline-block;
    line-height: 110px;
    img{
      padding: 10px 0;  
    }
     @media only screen and (min-width: 40em){ 
       width: 20%;
       margin-left: 30px;
     }
  }
  ul{
    &.navigation{
      width: 100%;
      list-style-type: none;
      display: none;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
      li{
        text-align: center;
        display: inline-block;
        margin:10px 0;
        width: 100%;
        padding:0 10px;
        a{
          font-weight: bold;
        }
      }
      @media only screen and (min-width: 40em){ 
        width: 50%;
        display: inline-block;
        margin:0 20px;
        text-align: left;
        min-width: auto;
        background: transparent;
        position: relative;
        top: -30px;
        li{
          text-align: right;
          width: auto;
          margin:0 20px;
          padding:0;
          background: transparent;
        }
      }
    }
  }
}


.article-names{
  max-width: 150px;
  overflow: hidden;
  height: 20px;
}

.metadata{
  padding: 20px 30px;
  position: relative;
  display: block;
  width: 100%;
  background: #f6f6f6;
  .date{
    text-align: center;
  }
}

#like{
  margin: 0 auto;
  display: none;
  position: relative;
  text-align: center;
  top: 100px;
  @media only screen and (min-width: 40em){ 
    display: block;
  }
  @media only screen and (min-width: 90.063em) and (max-width: 120em) { 
    top: 250px;
  }
  &:hover{
    color: rgba(255,255,255,.7);
  }
}

.cover{
  img{
    width: 100%;
  }
}

ul.posts{
  padding: 0;
  margin: 0;
  li.all{
    .index-cover{
      width: 100%;
      position: relative;
      img{
        width: 100%;
      }
    }
    :hover{
      .index-content{
        display: block;
      }
    }
    .index-content{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding:27px 18px;
      width: 100%;
      background: rgba(#0072bc,0.7);
      height: 100%;
      .title{
        color: #fff;
        margin-bottom: 15px;
      }
      p{
        color: #fff;
        min-height: 80px;
        overflow: hidden;
      }
      .date{
        font-weight: normal;
        float: right;
        color: white;
      }
    }
    &:first-child, &:nth-child(4n+4){
      margin-left: 0;
    }
    &:nth-child(3n+3){
      margin-right: 0;
    }
    width: 100%;
    display: inline-block;
    margin:10px 0;
    vertical-align: top;
    @media only screen and (min-width: 40em){
      width: 31.5%;
      margin:10px;
    } 
  }
}

.gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.45+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
}

#preview{
  width: 100px;
  position: absolute;
  top: -60px;
  left: 17px;
}

.actions{
  position: absolute;
  right: 0px;
  top: 0px;
  a{
  background: lightslategrey;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 25px;
  text-align: center;
  }
}

a.borrar{
    background:#EE7672;
    float: right;
    color: #fff;
}

input.file{
  margin-top: 30px;
}

.sub-social{
  margin: 50px auto;
  text-align: center;
}

ul.centerize{
  margin:0 auto !important;
  text-align: center;
  list-style-type: none;
  &.sub-social{
    margin: 50px 0 !important;
    li{
      margin: 0 20px;
      a{
        background: $blue;
        display: block;
        @include border-radius(100%);
        height: 55px;
        width: 55px;
        line-height: 65px;
        &:focus{
          outline: 0;
        }
        span{
          color: #fff;
        }
      }
    }
  }
  &.article-show{
    li{
      margin: 0 10px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
    }
  }
  &.info{
    li{
      margin: 10px 20px;
      display: block;
      text-align: left;
      @media only screen and (min-width: 40em){ 
        margin: 0 20px;
        display: inline-block;
        text-align: center;
      }
      span{
        margin-right: 10px;
      }
    }
  }
  li{
    margin:0 50px;
    display: inline-block;
    text-align: center;
  }
  &.filter{
    li{
      margin: 0 5px;
       @media only screen and (min-width: 40em){ 
         margin: 0 20px;
       }
      a{
        font-weight: 500;
      }
    }
  }
  &.country{
    text-align: left;
    li{
      text-align: left;
      position: relative;
      margin: 0 5px;
    }
  }
  &.tips{
    li{
      margin: 0 25px;
      padding: 15px 0;
      a{
        color: #70e8d7;
        text-transform: uppercase;
      }
    }
  }
}

.content{
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.show-title{
  position: absolute;
  top: 230px;
  left: 20px;
}

.country-post{
  background: #fff;
}
#info{
  position:absolute;
  width:400px;
  height:auto;
  right:40px;
  top:40px;
  display: none;
     @media only screen and (min-width: 40em){ 
       display: block;
     }
}


table.servicios{
  width: 100%;
  border:solid 1px #bbbbbb;
  border-collapse: collapse;
  border-spacing:0;
  thead{
    background: #0058a0;
    tr{
      th{
       color: rgba(255, 255, 255, 0.87);  
       line-height: 2rem;
       font-size: 18px;
       text-align: center;
       border: solid 1px #bbb;
      }
    } 
  }
  tbody{
    tr{
      td{
        cursor: pointer;
        border: solid 1px #bbbbbb;
        line-height: 1.8rem;
        color: #505050;
        font-size: 14px;
      } 
    }
  }
}

//FOOTER
.footer{
  height: 56px;
  background-color: #0072bc;
  padding:0 28px;
  &.the-login{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  p{
    display: inline-block;
    width: 50%;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin: 0;
  }
  .social{
    display: block;
    list-style-type: none;
    margin: 0;
    text-align: center;
    width: 100%;
    li{
      display: inline-block;
      margin: 0 16px;
      a{
        color: #fff;
      }
    }
     @media only screen and (min-width: 40em){ 
       float: right;
       line-height: 60px;
       width: 30%;
       display: inline-block;
       margin-bottom: 0;
       text-align: right;
       li{
         margin: 0 20px;
       }
     }
  }
}

.maxrow{
  width: 90vw;
}

//admin

.admin-body{
  width: 75%;
  background: white;
  min-height: 94vh;
  display: inline-block;
  padding: 50px 0;
}

.sidebar-menu{
  float: left;
  height: 100%;
  min-height: 100vh;
  width: 30%;
  max-width: 253px;
  display: inline-block;
  background: #0072bc;
  
  .logo{
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    img{
      text-align: center;
      margin:30px 0 100px 0;
    }
  }
  
  ul{
    list-style-type: none;
    li{
      a{
        &:before{
          content:" ";
          background: #70e8d7;
          display: inline-block;
          position: relative;
          top: -5px;
          left: -10px;
          width: 7px;
          height: 7px;
          @include border-radius(100%);
          opacity: 0;
        }
        position: relative;
        padding: 10px 0;
        display: block;
        width: 100%;
        color: #fff;
        span.fa{
          margin-right: 10px;
          min-width: 40px;
        }
        span.number{
          position: absolute;
          right: 20px;
          top: 17px;
          width: 24px;
          height: 24px;
          @include border-radius(100%);
          display: inline-block;
          background: #70e8d7;
          line-height: 24px;
          text-align: center;
        }
        &:hover, &.active{
          color: #70e8d7;
          span.number{
            color: #fff;
          }
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
}

$distance: 140px;
.pos-steps{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
ul.steps{
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  li{
    display: inline-block;
    margin:0 $distance;
    position: relative;
    span{
      display: block;
      color: rgba(255,255,255,.5); 
      margin-bottom: 15px;
    }
    .circle{
      width: 25px;
      height: 25px;
      @include border-radius(100%);
      border: 2px solid #70e8d7;
      background: rgba(0,0,0,.3);
      z-index: 9;
      margin: 0 auto;
      &:hover{
        border: 0;
        background: #70e8d7; 
      }
    }
  }
}

.line{
  display: inline-block;
  width: 288px;
  position: absolute;
  top: 55px;
  height: 2px;
  background: #70e8d7;
  z-index: 1;
  overflow: hidden;
  left: 24px;
  cursor:pointer;
}


.big-form{
  padding-top: 20px;
  @media only screen and (min-width: 40em){ 
    padding-top: 100px;
  }
}

#where{
  display: none;
}

.exp{
  display: none;
  padding: 40px 0;
  background: white;
  @media only screen and (min-width: 40em){ 
    display: block;
  }
  .type{
    position: relative;
    margin: 15px 0;
    @media only screen and (min-width: 40em){ 
      margin: 0;
    }
    &:hover{
      .inf{
        display: block; 
      }
    }
    img{
      width: 100%;
    }
    .inf{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      height: 100%;
      width: 100%;
      background: rgba(#70e8d7,.8);
    }
  }
  h5{
    color: #0058a0;
  }
}

#inline_form_country{
  input.button.success{
    padding: 5px 10px;
    }
}

.inline-form{
  padding: 20px 0;
  background: rgb(31,38,60);
  select,input[type="text"], input.button.success{
    margin-bottom: 0;
    height: 45px;
  }
//  #know{
//    max-width: 28%;
//    display: inline-block;
//  }
//  #where{
//    max-width: 68%;
//    display: inline-block;
//  }
}

.title-map{
  position: relative;
  top: 10px;
  float: left;
  margin: 0;
}
.price-map{
  position: relative;
  top: 15px;
  float: right;
  margin: 0;
  min-width: 110px;
}

.gradientbg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 70px;
  padding: 20px;
  position: absolute;
  top: 205px;
}

input[type="email"].unflashy{
  @include box-shadow(0, 0, 0, transparent);
  margin: 0;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:focus{
    @include box-shadow(0, 0, 0, transparent);
    border: 1px solid 1px solid rgba(0, 0, 0, 0.1);
  }
}

.fix-inline{
  position: absolute;
  top: 20px;
  right: 10px;
}

.inliner{
  position: relative;
  i.fa{
    color: rgb(77,77,77);
  }
  input.button.success{
    @include box-shadow(0, 0, 0, transparent);
    margin: 0;
  }
}

.circle.check.always{
  background: #70e8d7;
}

.huge{
  font-size: 300px;
}

.blog{
  color: #0058a0;
  padding: 15px 10px;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
}

.ferme{
  position: absolute;
  top: -10px;
  right: -10px;
  span{
    display: block;
    height: 25px;
    width: 25px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    @include border-radius(100%);
    color: #fff;
    background: red;
    border: 2px solid white;
    font-family: "Arial";
    font-size: 12px;
  }
}

.spacing{
  margin: 50px 0;
}

.dataTables_wrapper{
  select{
    max-width: 60px;
    margin: 0;
  }
  input[type="search"]{
    max-width: 300px;
    display: inline-block;
    margin-left: 30px;
  }
}

.profile{
  color: lightgray;
}

.pics{
  img{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #0B5A9E;
    @include border-radius(100%);
    margin-bottom: 10px;
  }
  h5{
    display: inline-block;
    font-weight: 200;
    margin-left: 10px;
  }
}

.pic_profile{
  display: inline-block;
  width: 47%;
  img{
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 2px solid white;
    @include border-radius(100%);
  }
  h6{
    display: inline-block;
    font-weight: 200;
  }
}

.footer-gallery{
  text-align: center;
  height: 107px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999999;
  .slide{
    width: 200px !important;
  }
  .bx-wrapper{
    max-width: 100% !important;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    background: transparent;
  }
  .bx-controls{
    .bx-pager{
      display: none;
    }
  }
  a{
    &.right{
      position: absolute;
      right: 0;
    }
    &.left, &.right{
      display: inline-block;
      background: #0058a0;
      color:rgba(255,255,255,.5);
      padding: 40px 0;
      height: 107px;
      width: 42px;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

.bg-grad{
  position: relative;
  background: #0058a0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
   @media only screen and (min-width: 40em){ 
    position: absolute;
    background: rgba(0,88,160,0.8);
    background: -moz-linear-gradient(top,  rgba(0,88,160,0.7) 0%, rgba(0,88,160,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,88,160,0.7) 0%,rgba(0,88,160,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,88,160,0.7) 0%,rgba(0,88,160,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   }
}

.bg-gradient{
  background: rgba(0,88,160,0.8);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0058a0+0,18243f+100&0.8+0,0.8+100 */
  background: -moz-linear-gradient(top,  rgba(0,88,160,0.8) 0%, rgba(24,36,63,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,88,160,0.8) 0%,rgba(24,36,63,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,88,160,0.8) 0%,rgba(24,36,63,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0058a0', endColorstr='#cc18243f',GradientType=0 ); /* IE6-9 */
  position: relative;
  height: auto;
  min-height: 100vh;
  @media only screen and (min-width: 40em){ 
    min-height: 83.5vh;
  }
  @media screen and (min-height: 580px) and (max-height: 800px) {
    min-height: 100vh;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    min-height: 98.5vh;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    min-height: 69.5vh;
  }
  width: 100%;
}

.inline-list > li{
  position: relative;
}

.button.alert.trash{
  position: absolute;
  top: 0;
  right: 0;
}

table.dataTable{
  thead{
    tr{
      th{
        background: url(https://datatables.net/media/images/sort_both.png) no-repeat right 7px;
        &.sorting_desc{
          background: url(https://datatables.net/media/images/sort_desc.png) no-repeat right 7px;
        }
        &.sorting_asc{
          background: url(https://datatables.net/media/images/sort_asc.png) no-repeat right 7px;
        }
      }
    }
  }
}

.inside-body{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  @media only screen and (min-width: 40em){ 
    min-height: 83.5vh;
  }
  @media screen and (min-height: 580px) and (max-height: 800px) {
    min-height: 100vh;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    min-height: 98.5vh;
    padding-bottom:50px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    min-height: 69.5vh;
  }
  #map{
    display: none;
    @media only screen and (min-width: 40em){ 
      display: block;
    }
  }
}

.fa.fix-inl{
  display: none;
  position: absolute;
  bottom: 38px;
  right: 32px;
  color: white;
}

.xclose{
  position: absolute;
  top: 35px;
  right: 10px;
  display: inline-block;
  color: #0058a0;
  font-size: 20px;
  span{
    color: #0058a0;
  }
  &:hover{
    color: #0058a0;
    span{
      color: #0058a0;
    }
  }
  @media only screen and (min-width: 40em){ 
    display: none;
  }
}

#results{
  .accordion{
    .country-post{
      img{
        width: 100%;
      }
    }
  }
}

.prefix-img{
  position: relative;
  .gradientbg{
    top: auto;
    bottom:0;
  }
}

