.redtxt {
  color: #ff0000; }

.whitetxt {
  color: white !important; }

.bluetxt {
  color: #0058a0; }

.mb120 {
  margin-bottom: 120px; }

.metalbluetxt {
  color: #75e7d7; }

.full {
  width: 100%; }

.nm {
  margin: 0 !important; }

.normal {
  font-weight: normal; }

.light {
  font-weight: 300; }

.db {
  display: inline-block; }

.inner-padding {
  padding: 0 20px; }

.upper {
  text-transform: uppercase; }

.spacing {
  padding-bottom: 50px; }

.main-body {
  position: relative;
  background: #f5f5f5;
  min-height: 83.5vh; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 84vh; }

.block {
  text-align: center;
  width: auto;
  border: 4px solid white;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: 70px; }
  @media only screen and (min-width: 90.063em) and (max-width: 120em) {
    .block {
      top: 140px; } }
  .block h2 {
    width: auto;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 1px; }

.nav {
  position: relative;
  height: auto;
  padding: 0 10px;
  background: white; }
  @media only screen and (min-width: 40em) {
    .nav {
      height: 110px;
      padding: 0 30px;
      background: white; } }
  .nav.map {
    background: #325595; }
    .nav.map ul li a {
      color: #fff; }
  .nav.form {
    border-bottom: 1px solid #456289;
    background: #0058a0; }
    @media only screen and (min-width: 40em) {
      .nav.form {
        background: transparent; } }
    .nav.form .xclose {
      position: absolute;
      top: 35px;
      right: 10px;
      display: inline-block;
      color: white;
      font-size: 20px; }
      .nav.form .xclose span {
        color: #fff; }
      .nav.form .xclose:hover {
        color: #fff; }
        .nav.form .xclose:hover span {
          color: #fff; }
      @media only screen and (min-width: 40em) {
        .nav.form .xclose {
          display: none; } }
    .nav.form ul li a {
      color: #fff;
      width: 100%;
      display: block; }
      @media only screen and (min-width: 40em) {
        .nav.form ul li a {
          width: auto;
          display: inline; } }
  .nav.articles {
    position: relative;
    height: 374px;
    overflow: hidden;
    background: url("../img/australia-sydney.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 40px; }
    @media only screen and (min-width: 90.063em) and (max-width: 120em) {
      .nav.articles {
        height: 574px; } }
    .nav.articles .xclose {
      position: absolute;
      top: 35px;
      right: 10px;
      display: inline-block;
      color: white;
      font-size: 20px; }
      .nav.articles .xclose span {
        color: #fff; }
      .nav.articles .xclose:hover {
        color: #fff; }
        .nav.articles .xclose:hover span {
          color: #fff; }
      @media only screen and (min-width: 40em) {
        .nav.articles .xclose {
          display: none; } }
    .nav.articles .gradient-article {
      padding: 0 10px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+100;Neutral+Density */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
      /* IE6-9 */ }
      @media only screen and (min-width: 40em) {
        .nav.articles .gradient-article {
          padding: 0; } }
    .nav.articles .br_after {
      display: block;
      height: 1px;
      width: 100%;
      position: absolute;
      top: 110px;
      left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .nav.articles ul li a {
      color: #fff; }
  .nav a.logo {
    width: 50%;
    display: inline-block;
    line-height: 110px; }
    .nav a.logo img {
      padding: 10px 0; }
    @media only screen and (min-width: 40em) {
      .nav a.logo {
        width: 20%;
        margin-left: 30px; } }
  .nav ul.navigation {
    width: 100%;
    list-style-type: none;
    display: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px; }
    .nav ul.navigation li {
      text-align: center;
      display: inline-block;
      margin: 10px 0;
      width: 100%;
      padding: 0 10px; }
      .nav ul.navigation li a {
        font-weight: 500; }
    @media only screen and (min-width: 40em) {
      .nav ul.navigation {
        width: 50%;
        display: inline-block;
        margin: 0 20px;
        text-align: right;
        min-width: auto;
        background: transparent; }
        .nav ul.navigation li {
          text-align: right;
          width: auto;
          margin: 0 20px;
          padding: 0;
          background: transparent; } }
  .nav ul.social {
    list-style-type: none;
    display: none;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px; }
    .nav ul.social li {
      display: inline-block;
      margin: 0 16px; }
    @media only screen and (min-width: 40em) {
      .nav ul.social {
        width: 20%;
        display: inline-block;
        margin-bottom: 0;
        text-align: right; }
        .nav ul.social li {
          margin: 0 20px; } }

#like {
  margin: 0 auto;
  display: none;
  position: relative;
  text-align: center;
  top: 100px; }
  @media only screen and (min-width: 40em) {
    #like {
      display: block; } }
  @media only screen and (min-width: 90.063em) and (max-width: 120em) {
    #like {
      top: 250px; } }
  #like:hover {
    color: rgba(255, 255, 255, 0.7); }

ul.posts {
  padding: 0;
  margin: 0; }
  ul.posts li.all {
    background: white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top; }
    ul.posts li.all .index-cover {
      width: 100%;
      position: relative; }
      ul.posts li.all .index-cover .title {
        position: absolute;
        bottom: 10px;
        left: 18px;
        margin: 0; }
      ul.posts li.all .index-cover img {
        width: 100%; }
    ul.posts li.all .index-content {
      padding: 15px 18px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      ul.posts li.all .index-content p {
        height: 45px;
        overflow: hidden;
        margin: 0; }
    ul.posts li.all:first-child, ul.posts li.all:nth-child(4n+4) {
      margin-left: 0; }
    ul.posts li.all:nth-child(3n+3) {
      margin-right: 0; }
    @media only screen and (min-width: 40em) {
      ul.posts li.all {
        width: 31.5%;
        margin: 10px; } }

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.45+100 */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.45) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px; }

#preview {
  width: 100px;
  position: absolute;
  top: -60px;
  left: 17px; }

.actions {
  position: absolute;
  right: 10px;
  top: 10px; }

input.file {
  margin-top: 30px; }

ul.centerize {
  margin: 0 auto !important;
  text-align: center;
  list-style-type: none; }
  ul.centerize.sub-social {
    margin: 50px 0 !important; }
    ul.centerize.sub-social li {
      margin: 0 20px; }
      ul.centerize.sub-social li a {
        background: #0058a0;
        display: block;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        height: 55px;
        width: 55px;
        line-height: 65px; }
        ul.centerize.sub-social li a:focus {
          outline: 0; }
        ul.centerize.sub-social li a span {
          color: #fff; }
  ul.centerize.article-show li {
    margin: 0 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500; }
  ul.centerize.info li span {
    margin-right: 10px; }
  ul.centerize li {
    margin: 0 50px;
    display: inline-block;
    text-align: center; }
  ul.centerize.filter li {
    margin: 0 20px; }
    ul.centerize.filter li a {
      font-weight: 500; }
  ul.centerize.country {
    text-align: left; }
    ul.centerize.country li {
      text-align: left;
      position: relative;
      margin: 0 5px; }
  ul.centerize.tips li {
    margin: 0 25px;
    padding: 15px 0; }
    ul.centerize.tips li a {
      color: #70e8d7;
      text-transform: uppercase; }

.content {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.show-title {
  position: absolute;
  top: 230px;
  left: 20px; }

#info {
  position: absolute;
  width: 400px;
  height: auto;
  background: white;
  right: 40px;
  top: 40px;
  display: none; }
  @media only screen and (min-width: 40em) {
    #info {
      display: block; } }

.footer {
  height: 56px;
  background-color: #3b3b3b;
  padding: 0 28px; }
  .footer p {
    line-height: 56px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin: 0; }

.maxrow {
  width: 90vw; }

.admin-body {
  width: 69%;
  background: white;
  min-height: 94vh;
  display: inline-block;
  padding: 50px 0; }

.sidebar-menu {
  float: left;
  height: 100%;
  min-height: 100vh;
  width: 30%;
  max-width: 253px;
  display: inline-block;
  background: #0058a0; }
  .sidebar-menu .logo {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center; }
    .sidebar-menu .logo img {
      text-align: center;
      margin: 30px 0 100px 0; }
  .sidebar-menu ul {
    list-style-type: none; }
    .sidebar-menu ul li a {
      position: relative;
      padding: 10px 0;
      display: block;
      width: 100%;
      color: #fff; }
      .sidebar-menu ul li a:before {
        content: " ";
        background: #70e8d7;
        display: inline-block;
        position: relative;
        top: -5px;
        left: -10px;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        opacity: 0; }
      .sidebar-menu ul li a span.fa {
        margin-right: 10px;
        min-width: 40px; }
      .sidebar-menu ul li a span.number {
        position: absolute;
        right: 20px;
        top: 17px;
        width: 24px;
        height: 24px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: inline-block;
        background: #70e8d7;
        line-height: 24px;
        text-align: center; }
      .sidebar-menu ul li a:hover, .sidebar-menu ul li a.active {
        color: #70e8d7; }
        .sidebar-menu ul li a:hover span.number, .sidebar-menu ul li a.active span.number {
          color: #fff; }
        .sidebar-menu ul li a:hover:before, .sidebar-menu ul li a.active:before {
          opacity: 1; }

.pos-steps {
  position: absolute;
  bottom: 20px;
  width: 100%; }

ul.steps {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px; }
  ul.steps li {
    display: inline-block;
    margin: 0 140px;
    position: relative; }
    ul.steps li span {
      display: block;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 15px; }
    ul.steps li .circle {
      width: 25px;
      height: 25px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid #70e8d7;
      background: rgba(0, 0, 0, 0.3);
      z-index: 9;
      margin: 0 auto; }
      ul.steps li .circle:hover {
        border: 0;
        background: #70e8d7; }

.line {
  display: inline-block;
  width: 288px;
  position: absolute;
  top: 55px;
  height: 2px;
  background: #70e8d7;
  z-index: 1;
  overflow: hidden;
  left: 24px;
  cursor: pointer; }

.big-form {
  padding-top: 100px; }

#where {
  display: none; }

.exp {
  padding: 40px 0;
  background: white; }
  .exp .type {
    position: relative;
    margin: 15px 0; }
    @media only screen and (min-width: 40em) {
      .exp .type {
        margin: 0; } }
    .exp .type:hover .inf {
      display: block; }
    .exp .type img {
      width: 100%; }
    .exp .type .inf {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      height: 100%;
      width: 100%;
      background: rgba(112, 232, 215, 0.8); }
  .exp h5 {
    color: #0058a0; }

.inline-form {
  padding: 20px 0;
  background: #1f263c; }
  .inline-form select, .inline-form input[type="text"], .inline-form input.button.success {
    margin-bottom: 0;
    height: 45px; }

.title-map {
  position: relative;
  top: 10px;
  float: left;
  margin: 0; }

.price-map {
  position: relative;
  top: 15px;
  float: right;
  margin: 0;
  min-width: 110px; }

.gradientbg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  height: 70px;
  padding: 20px;
  position: absolute;
  top: 205px; }

input[type="email"].unflashy {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  margin: 0;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  input[type="email"].unflashy:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 1px solid 1px solid rgba(0, 0, 0, 0.1); }

.fix-inline {
  position: absolute;
  top: 20px;
  right: 10px; }

.inliner {
  position: relative; }
  .inliner i.fa {
    color: #4d4d4d; }
  .inliner input.button.success {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    margin: 0; }

.circle.check.always {
  background: #70e8d7; }

.huge {
  font-size: 300px; }

.blog {
  color: #0058a0;
  padding: 15px 10px;
  font-size: 14px;
  display: inline-block;
  font-weight: bold; }

.ferme {
  position: absolute;
  top: -10px;
  right: -10px; }
  .ferme span {
    display: block;
    height: 25px;
    width: 25px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #fff;
    background: red;
    border: 2px solid white;
    font-family: "Arial";
    font-size: 12px; }

.spacing {
  margin: 50px 0; }

.dataTables_wrapper select {
  max-width: 100px;
  margin: 0; }
.dataTables_wrapper input[type="search"] {
  max-width: 300px;
  display: inline-block;
  margin-left: 30px; }

.profile {
  color: lightgray; }

.pics img {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #0B5A9E;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-bottom: 10px; }
.pics h5 {
  display: inline-block;
  font-weight: 200;
  margin-left: 10px; }

.pic_profile {
  position: absolute;
  bottom: 20px;
  left: 20px; }
  .pic_profile img {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 2px solid white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%; }
  .pic_profile h6 {
    display: inline-block;
    font-weight: 200; }

.footer-gallery {
  text-align: center;
  height: 107px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer-gallery .slide {
    width: 200px !important; }
  .footer-gallery .bx-wrapper {
    max-width: 100% !important;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    background: transparent; }
  .footer-gallery .bx-controls .bx-pager {
    display: none; }
  .footer-gallery a.right {
    position: absolute;
    right: 0; }
  .footer-gallery a.left, .footer-gallery a.right {
    display: inline-block;
    background: #0058a0;
    color: rgba(255, 255, 255, 0.5);
    padding: 40px 0;
    height: 107px;
    width: 42px;
    text-align: center;
    font-size: 1.4rem; }

.bg-grad {
  position: relative;
  background: #0058a0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 40em) {
    .bg-grad {
      position: absolute;
      background: rgba(0, 88, 160, 0.8);
      background: -moz-linear-gradient(top, rgba(0, 88, 160, 0.7) 0%, rgba(0, 88, 160, 0.8) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 88, 160, 0.7) 0%, rgba(0, 88, 160, 0.8) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 88, 160, 0.7) 0%, rgba(0, 88, 160, 0.8) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ } }

.bg-gradient {
  background: rgba(0, 88, 160, 0.8);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0058a0+0,18243f+100&0.8+0,0.8+100 */
  background: -moz-linear-gradient(top, rgba(0, 88, 160, 0.8) 0%, rgba(24, 36, 63, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 88, 160, 0.8) 0%, rgba(24, 36, 63, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 88, 160, 0.8) 0%, rgba(24, 36, 63, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0058a0', endColorstr='#cc18243f',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.inline-list > li {
  position: relative; }

.button.alert.trash {
  position: absolute;
  top: 0;
  right: 0; }

table.dataTable thead tr th {
  background: url(https://datatables.net/media/images/sort_both.png) no-repeat right 7px; }
  table.dataTable thead tr th.sorting_desc {
    background: url(https://datatables.net/media/images/sort_desc.png) no-repeat right 7px; }
  table.dataTable thead tr th.sorting_asc {
    background: url(https://datatables.net/media/images/sort_asc.png) no-repeat right 7px; }

.inside-body {
  position: relative;
  min-height: 60vh;
  overflow: hidden; }
  @media only screen and (min-width: 40em) {
    .inside-body {
      min-height: 83.5vh; } }
  .inside-body #map {
    display: none; }
    @media only screen and (min-width: 40em) {
      .inside-body #map {
        display: block; } }

.xclose {
  position: absolute;
  top: 35px;
  right: 10px;
  display: inline-block;
  color: #0058a0;
  font-size: 20px; }
  .xclose span {
    color: #0058a0; }
  .xclose:hover {
    color: #0058a0; }
    .xclose:hover span {
      color: #0058a0; }
  @media only screen and (min-width: 40em) {
    .xclose {
      display: none; } }
