{{#if error}}
   {{#if yes404}}
   {{else}}
   <div data-alert class="alert-box alert">
     {{{error}}}
     <a href="#" class="close">&times;</a>
   </div>
   {{/if}}
{{/if}}
{{#if success}}
   <div data-alert class="alert-box success round">
     {{{success}}}
     <a href="#" class="close">&times;</a>
   </div>
{{/if}}
