{{#if error}}
   {{#if yes404}}
   {{else}}
   <div data-alert class="alert-box alert">
     {{{error}}}
     <a href="#" class="close">&times;</a>
   </div>
   {{/if}}
{{/if}}
{{#if success}}
   <div data-alert class="alert-box success round">
     {{{success}}}
     <a href="#" class="close">&times;</a>
   </div>
{{/if}}

<div class="reveal-modal small radius" id="alert-info" data-reveal aria-labelledby="alertInfo" aria-hidden="true" role="dialog">
  <div class="aca"></div>
  <a class="close-reveal" aria-label="Close">OK</a>
</div>