
<div class="nav home">
  <a  href="/" class="logo"><img src="/img/{{logo}}" alt="" /></a>
  <ul class="navigation">
    <li><a href="/quienes_somos">Quienes somos</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contacto</a></li>
  </ul>
  <a href="" class="button round success cita">Cita virtual</a>
  <a href="#" class="xclose"><span class="fa fa-bars fa-lg"></span></a>
  
  <div class="text-banner">
    <div class="the-text">
      <h3>Somos un centro de <b>medicina estética y antiedad</b></h3>
      <h4>Agenda tu cita ahora mismo con nosotro</h4>
    </div>
    <a href="#agendarcita" class="button agendar round">Agendar cita</a>
  </div>
</div>
