<div class="nav">
  <a  href="/" class="logo"><img src="/img/{{logo}}" alt="" /></a>
  <ul class="navigation">
    <li class="main"><a href="/quienes_somos">Quienes somos</a></li>
    <li class="main"><a href="/tratamientos">Tratamientos</a></li>
    <li class="main"><a href="/bahamon">Dra. Maria Bahamón</a></li>
    <li class="main"><a href="/blog">Blog</a></li>
    <li class="main"><a href="/contact">Contacto</a></li>
    <li class="main hided"><a href="https://www.zonapagos.com/t_meyambsas/pagos.asp" target="_blank">Cita virtual</a></li>
    <li class="main hided">
      <ul class="social-nav">
        <li><a href="http://twitter.com/" target="_blank"><span class="fa fa-twitter fa-large"></span></a></li>
        <li><a href="http://facebook.com/" target="_blank"><span class="fa fa-facebook fa-large"></span></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram fa-large"></span></a></li>
      </ul>
    </li>
  </ul>
  <ul class="social">
    <li><a href="http://twitter.com/" target="_blank"><span class="fa fa-twitter fa-large"></span></a></li>
    <li><a href="http://facebook.com/" target="_blank"><span class="fa fa-facebook fa-large"></span></a></li>
    <li><a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram fa-large"></span></a></li>
  </ul>
  <a href="https://www.zonapagos.com/t_meyambsas/pagos.asp" target="_blank" class="button round success cita">Cita virtual</a>
  <a href="#" class="xclose"><span class="fa fa-bars fa-lg"></span></a>
</div>
