
<div class="nav">
  <a  href="/" class="logo"><img src="/img/{{logo}}" alt="" /></a>
  <ul class="navigation">
    <li><a href="/quienes_somos">Quienes somos</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/blog">Noticias</a></li>
    <li><a href="/contact">Contacto</a></li>
  </ul>
  <a href="" class="button round success cita"  >Cita virtual</a>
  <a href="#" class="xclose"><span class="fa fa-bars fa-lg"></span></a>
</div>
