
<div class="nav">
  <a  href="/" class="logo"><img src="/img/{{logo}}" alt="" /></a>
  <ul class="navigation">
    <li><a href="/blog">BLOG</a></li>
    <li><a href="/experiences">EXPERIENCIAS</a></li>
    <li><a href="/contact">CONTACTO</a></li>
  </ul>
  <ul class="social">
    <li><a href="http://twitter.com/@aramsvip" target="_blank"><span class="fa fa-twitter fa-large"></span></a></li>
    <li><a href="http://facebook.com/aramsvip" target="_blank"><span class="fa fa-facebook fa-large"></span></a></li>
    <li><a href="https://www.instagram.com/aramsvip/" target="_blank"><span class="fa fa-instagram fa-large"></span></a></li>
  </ul>
  <a href="#" class="xclose"><span class="fa fa-bars fa-lg"></span></a>
</div>
