<div class="spacing">
  <div class="row">
    <div class="large-6 columns large-centered">
      <h1 class="text-center huge whitetxt">{{ error.status }}</h1>
      <h2 class="text-center whitetxt">{{ message }}</h6>
      <h6 class="text-center"><a class="metalbluetxt" href="/">{{description}}</a></h6>
      <code class="hide">{{ error.stack }}</code>
    </div>
  </div>
</div>


