
<br /><br />
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 columns">
        <a href="https://www.webex.com" target="_blank"><img src="/img/webex.jpg" alt="Webex"></a>
      </div>
      <div class="large-9 columns">
       <h3> Citas virtuales</h3>
       <p>Las citas virtuales se manejan directamente en webex</p>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="large-3 columns">
        <a href="https://www.tawk.to" target="_blank"><img src="/img/takto.jpg" width="446" height="340" alt="Webex"></a>
      </div>
      <div class="large-9 columns">
        <h3> Chat</h3>
        <p>El chat se esta manejando desde Tawt.to para interacturar se puede hacer desde la web o <a class="bluetxt" href="https://www.tawt.to/features/iphone-app/">descargando</a> las aplicaciones </p>
      </div>
    </div>
  </div>
</div>