
<br /><br />
<div class="row">
  <div class="large-12">
    <div id="events-calendar"></div>
    <div class="reveal-modal small" id="event-info" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="here"></div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
  </div>
</div>