<div class="main-client-side">
  <div class="row article">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-users bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title xlarge">Dra. María Bahamón</h3>
      <img src="/img/Dra-Maria-Bahamon.jpg" width="800" height="533" alt="Dra Maria Bahamon">
<p>Medica Cirujana General, egresada de la Pontificia Universidad Javeriana, con Fellow en Medicina Estética de la Academia Americana de Medicina (A4M), actualmente adelanta estudios de Maestría en Medicina Metabólica y Nutricional de la misma Institución. Especialización en Gerencia en Servicios de Salud de la Universidad Jorge Tadeo Lozano y diplomado en Medicina Biológica con énfasis en Homotoxicologia. Curso en Aplicación de  Hilos Tensores EIMEC (Escuela Internacional de Medicina Estética y Cirugía) España. </p>
<p>Miembro de la Academia Americana de Medicina Antiedad, amplio conocimiento, entrenamiento y experiencia en: estética, medicina antiedad y medicina biológica. Para la Dra. María Bahamón la base de la belleza radica en el equilibrio entre la salud y el bienestar del organismo. De esta misma manera cree firmemente que la medicina es una ciencia que evoluciona proporcionalmente al tiempo, motivándola a mantenerse a la vanguardia de la medicina y en especial la medicina estética y antiedad, para así entender los cambios y beneficios que se pueden aplicar a la vida diaria de los seres humanos.  </p>
    </div>
  </div>
</div>