<div class="main-client-side">
  <br /><br />
  <ul class="centerize info">
    <li>
      <a href="mailto:info@mariabahamon.com"><span class="fa fa-envelope fa-3x bluetxt"></span> info@mariabahamon.com</a>
    </li>
    <li>
      <a href="cel//321 384 03 32"><span class="fa fa-phone fa-3x bluetxt"></span> +57 321 384 03 32 +57 1 755 7199/7200</a>
    </li>
    <li>
      <a href="cel//311 278 18 87"><span class="fa fa-flag fa-3x bluetxt"></span> Carrera 11 A # 93-52 Edificio Torre 93 Consultorio 301</a>
    </li>
  </ul>
  <br />
  <br />
  <br />
  <div class="row">
    <div class="large-7 medium-8 columns large-centered medium-centered">
      <h5 class="subheader">Cuéntanos como podemos ayudarte.</h5>
      <form action="/send_contact" method="post">
        <input type="text" id="name" name="name" placeholder="Nombre" required/>
        <input type="email" name="email" id="email" placeholder="Correo" required/>
        <input type="text" id="subject" name="subject" placeholder="Asunto" required/>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea>
        <input type="submit" value="ENVIAR" class="button success expand" />
      </form>
    </div>
  </div>
  
  
  </div>