<div class="admin-form">
  <div class="row">
    <div class="large-12 columns">
      <a href="/countries_search" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    </div>
  </div>
  <form action="/countries" id="articles-form" method="post" enctype='multipart/form-data'>
  <div class="row">
    <div class="large-8 columns">
      <h1>{{title}}</h1>
      <input type="text" name="pais" placeholder="País"  />
    <div class="row">
      <div class="large-4 columns">
        <input type="text" class="currency" id="vip" name="vip" placeholder="VIP" />
      </div>
      <div class="large-4 columns">
        <input type="text" class="currency" name="incognito" placeholder="Incognito" />
      </div>
      <div class="large-4 columns">
        <input type="text" class="currency" name="corporate" placeholder="Corporativo" />
      </div>
    </div>
      <label for="texto">Descripción</label>
      <textarea name="texto" id="texto"></textarea>
      <div class="row">
        <div class="large-6 columns">
          <input type="text" name="lat" placeholder="Latitud" />
        </div>
        <div class="large-6 columns">
          <input type="text" name="long" placeholder="Longitud" />
        </div>
      </div>
    </div>
    <div class="large-4 columns">
      <label for="image_upload">Imagen</label>
      <div class="file">
        <input type="file" class="inline-file" name="image_upload" id="image_upload" />
      </div>
      <button class="button success full">Crear pais</button>
    </div>
  </div>
  </form>
</div>