
<div class="row">
  <div class="large-12 columns">
    <a href="/" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    <form action="/articles" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="large-6 columns">
          <input type="text" name="title" placeholder="título"  />
        </div>
        <div class="large-4 columns">
          <input type="file" class="inline-file" name="images" id="images" />
        </div>
        <div class="large-2 columns">
          <select name="category" id="category" multiple size=3>
            <option value="tips">Tips</option>
            <option value="viajes">Viajes</option>
            <option value="datos">Datos</option>
          </select>
        </div>
      </div>
      <input type="text" name="text" placeholder="previsualización" />
      <textarea name="fulltext" id="fulltext" placeholder="texto"></textarea>
      <button class="button success">Crear articulo</button>
    </form>
  </div>
</div>
