
<div class="row">
  <div class="large-12 columns">
    <a href="/" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    <form action="/articles" method="post">
      <input type="text" name="title" placeholder="Titulo" />
      <input type="text" name="text" placeholder="previsualización" />
      <textarea name="fulltext" id="fulltext" placeholder="texto"></textarea>
      <input type="submit" value="Enviar nuevo" class="button success"/>
    </form>
  </div>
</div>