<div class="row">
  <div class="large-12 columns">
    <a href="/">Volver</a>
    <h1>Actualizar</h1>
    <form action="/article/{{article.id}}/editar" method="post">
      <input type="text" name="title" value="{{article.title}}" />
      <input type="text" name="text" value="{{article.text}}" />
      <textarea name="fulltext" id="fulltext">{{article.fulltext}}</textarea>
      <input type="submit" value="Actualizar" class="button success" />
    </form>
  </div>
</div>
