<div class="spacing">
  <div class="row">
    <div class="large-6 medium-6 columns">
     <img src="img/vip.jpg" width="461" height="289" alt="Vip" class="full">
    </div>
    <div class="large-6 columns">
    <h4 class="bluetxt">VIP</h4>
    <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death. Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I jerked him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes.</p>
    </div>
  </div>
</div>
<div class="spacing">
  <div class="row">
    <div class="large-6 medium-6 large-push-6 medium-push-6 columns">
     <img src="img/incognito.jpg" width="461" height="289" alt="Vip" class="full">
    </div>
    <div class="large-6 large-pull-6 medium-pull-6 columns">
    <h4 class="bluetxt">Incognito</h4>
    <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death. Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I jerked him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes.</p>
    </div>
  </div>
</div>
<div class="spacing">
  <div class="row">
    <div class="large-6 medium-6 columns">
     <img src="img/corporativo.jpg" width="461" height="289" alt="corporativo" class="full">
    </div>
    <div class="large-6 columns">
    <h4 class="bluetxt">Corporativo</h4>
    <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death. Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I jerked him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes.</p>
    </div>
  </div>
</div>