<div id='map'></div>
<div id="info"></div>
<div class="pos-steps">
  <ul class="steps">
    <li><span class="fa fa-plane fa-2x"></span><div class="circle"></div> <div class="line"></div> </li>
    <li><span class="fa fa-check-square-o fa-2x"></span><div class="circle"></div><div class="line"></div></li>
    <li><span class="fa fa-envelope fa-2x"></span><div class="circle"></div></li>
  </ul>
</div>