<br /><br />
<div class="row">
  <div class="large-8 columns large-centered">
    <span class="text-center db fa fa-comments bluetxt fa-lg"></span>
    <br />
    <h3 class="the_title">Filosofía</h3>
    <br />
    <h4 class="normal">En el Centro de Medicina Estética  y Antiedad Maria Bahamón, asistimos a cada paciente de acuerdo con sus necesidades, teniendo en cuenta los últimos estándares  de la medicina antienvejecimiento y la medicina estética.</h4>
    <br /><br />
    <div class="text-center">
      <a href="" class="button success round">Conoce nuestros servicios</a>
    </div>
  </div>
</div>
<br />
<div class="main-client-side">
  <div class="row">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-calendar bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title">¿Ya Agendaste tu Cita?</h3>
    </div>
  </div>
</div>