<br /><br />
<div class="row">
  <div class="large-8 columns large-centered">
    <span class="text-center db fa fa-comments bluetxt fa-lg"></span>
    <br />
    <h3 class="the_title">Filosofía</h3>
    <br />
    <h4 class="normal">En el Centro de Medicina Estética  y Antiedad Maria Bahamón, asistimos a cada paciente de acuerdo con sus necesidades, teniendo en cuenta los últimos estándares  de la medicina antienvejecimiento y la medicina estética.</h4>
    <br /><br />
    <div class="text-center">
      <a href="" class="button success round">Conoce nuestros servicios</a>
    </div>
  </div>
</div>
<br />
<div class="main-client-side">
  <div class="row">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-calendar bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title">¿Ya Agendaste tu Cita?</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="calendar"></div>
      <div id="modal-calendar" class="tiny reveal-modal" data-reveal aria-labelledby="calendar" aria-hidden="true" role="dialog">
        <h3 id="modal-date"></h3>
        <form action="/post-calendar" class="post-calendar">
          <select name="category" id="categories">
            <option value="acidoh">Acido hialuronico <span>$200.000 COP</span></option>
            <option value="lipomasaje">Lipomasaje</option>
          </select>
          <input type="text" name="time" id="timepicker" required/>
          <input type="hidden" name="daytime" id="hidden-date" required/>
          <input type="text" name="name" id="name" placeholder="nombre"  required />
          <input type="email" name="email" id="email" placeholder="correo electronico" required/>
          <input type="text" name="phone" id="phone" placeholder="télefono" required />
          <label for="recibir"><input type="checkbox" name="recibir" id="recibir"/> Recibir correo de confirmación</label>
          <button href="" class="button expand success">Agendar Cita</button>
        </form>
      </div>
    </div>
  </div>
</div>
