<br /><br />
<div class="row">
  <div class="large-8 columns large-centered">
    <span class="text-center db fa fa-comments bluetxt fa-lg"></span>
    <br />
    <h3 class="the_title">Filosofía</h3>
    <br />
    <h4 class="normal text-center">Somos un centro de medicina estética y antiedad, con tratamientos basados en altos estándares de investigación  y un equipo de personal médico y estético  calificado,  que  ha  diseñado protocolos integrales según las necesidades de cada paciente, de la mano de tecnología de punta a nivel mundial.</h4>
    <br /><br />
    <div class="text-center">
      <a href="/servicios" class="button success round">Conoce nuestros servicios</a>
    </div>
  </div>
</div>
<br />
<div id="jsalert"> <div class="alert-box"><a href="#" class="close">&times;</a> </div> </div>
<div class="main-client-side" id="agendarcita">
  <div class="row">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-calendar bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title xlarge">¿Ya Agendaste tu Cita?</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div id="calendar" class="homeone"></div>
    </div>
  </div>
</div>


<div id="modal-calendar" class="tiny reveal-modal" data-reveal aria-labelledby="calendar" aria-hidden="true" role="dialog">
 <div class="modal-body">
   <h3 id="modal-date"></h3>
   <a href="" class="cancelar bluetxt">&times;</a> 
   <form action="/post-calendar" class="post-calendar">
     <select name="publish" id="publish">
       <option value="true">Cita presencial</option>
       <option value="false">Cita virtual</option>
     </select>
     <select name="category" id="categories">
       <option value="botox">Aplicación toxina botulínica tipo a</option>
       <option value="acidoh">Aplicación ácido hialurónico</option>
       <option value="rejuve">Rejuvenecimiento facial con plasma rico en plaquetas</option>
       <option value="homeo">Aplicación de homeopatía facial</option>
       <option value="micro">Microdermoabrasión</option>
       <option value="radio">Radiofrecuencia monopolar (thermage)</option>
       <option value="colageno">Terapia facial para la inducción de colágeno</option>
       <option value="fre">Radiofrecuencia pixel rf </option>
       <option value="harmony">Harmony lite</option>
       <option value="vela">Velashape iii</option>
       <option value="lipomax">Limopax</option>
       <option value="bodp">Bodyterm premium</option>
       <option value="lpg">LPG</option>
       <option value="pixelco">Pixel corporal y vshape</option>
       <option value="manthus">MANTHUS</option>
       <option value="futura">Futura pro</option>
     </select>
     <div class="selector"></div>
     <input type="hidden" name="daytime" id="hidden-date" required/>
     <input type="text" name="name" id="name" placeholder="Nombre"  required />
     <input type="email" name="email" id="email" placeholder="Correo electrónico" required/>
     <input type="text" name="phone" id="phone" placeholder="Teléfono" required />
     <label for="recibir"><input type="checkbox" name="recibir" id="recibir"/> Recibir correo de confirmación</label>
     <button href="" class="button expand success">Agendar Cita</button>
   </form>
 </div>
</div>

<div class="reveal-modal small radius" id="alert-info" data-reveal aria-labelledby="alertInfo" aria-hidden="true" role="dialog">
  <div class="aca"></div>
  <a class="close-reveal" aria-label="Close">OK</a>
</div>