<div id='map'></div>
<div class="row">
  <div class="large-12 columns">
    <ul class="steps">
      <li><span class="fa fa-plane"></span></li>
      <li><span class="fa fa-check"></span></li>
    </ul>
  </div>
</div>

