<div class="main-client-side">
  <div class="row article">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-users bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title xlarge">¿Quienes Somos?</h3>
      <img src="/img/Centro-de-medicina-estetica-y-antiedad-MB.jpg" width="800" height="533" alt="Centro De Medicina Estetica Y Antiedad MB">
      <h4>Centro de Medicina Estética y Antiedad</h4>
  <p>Somos un centro de medicina estética y antiedad, con tratamientos basados en altos estándares de investigación  y

un equipo de personal médico y estético  calificado,  que  ha  diseñado protocolos integrales según las necesidades 

de cada paciente, de la mano de tecnología de punta a nivel mundial. 

En el Centro de Medicina Estética  y Antiedad María Bahamón, asistimos a cada paciente de acuerdo 

con sus necesidades, teniendo en cuenta los estándares  de la medicina antienvejecimiento y la 

medicina estética. Dentro de nuestra gestión, ofrecemos asesoría nutricional, al igual que un 

acompañamiento médico durante todo el proceso. Contamos con equipos de última tecnología los cuales 

proporcionan resultados contundentes.

Nuestro objetivo es trabajar  la medicina antienvejecimiento, bajo un nuevo enfoque clínico de medicina 

preventiva, que permite suministrar los elementos necesarios para promover la salud. Tenemos el firme 

propósito de acompañar a las personas en el proceso, para alcanzar un estado armónico, en el que el 

paciente se sienta y se vea bien, a cualquier edad, sin que se pierda naturalidad.

De acuerdo a cada caso, se aplican tratamientos de regulación sistemática, para contrarrestar los 

efectos de la acumulación de toxinas y radicales libres oxidativos, el desbalance hormonal, el deterioro 

de los tejidos y la perdida de vitalidad del organismo. La idea es encontrar un equilibrio entre salud y 

belleza, lo cual se convierte en el  secreto de la verdadera juventud.</p>
      <p>En el Centro de Medicina Estética  y Antiedad María Bahamón, asistimos a cada paciente de acuerdo

con sus necesidades, teniendo en cuenta los estándares  de la medicina antienvejecimiento y la 

medicina estética. Dentro de nuestra gestión, ofrecemos asesoría nutricional, al igual que un 

acompañamiento médico durante todo el proceso. Contamos con equipos de última tecnología los cuales 

proporcionan resultados contundentes.</p>
      <p>Nuestro objetivo es trabajar  la medicina antienvejecimiento, bajo un nuevo enfoque clínico de medicina

preventiva, que permite suministrar los elementos necesarios para promover la salud. Tenemos el firme 

propósito de acompañar a las personas en el proceso, para alcanzar un estado armónico, en el que el 

paciente se sienta y se vea bien, a cualquier edad, sin que se pierda naturalidad.</p>
<p>De acuerdo a cada caso, se aplican tratamientos de regulación sistemática, para contrarrestar los

efectos de la acumulación de toxinas y radicales libres oxidativos, el desbalance hormonal, el deterioro 

de los tejidos y la perdida de vitalidad del organismo. La idea es encontrar un equilibrio entre salud y 

belleza, lo cual se convierte en el  secreto de la verdadera juventud.</p>
    </div>
  </div>
</div>