<div class="row">
  <div class="large-8 columns large-centered">
    <span class="text-center db fa fa-users bluetxt fa-lg"></span>
    <br />
    <h3 class="the_title">¿Como podemos ayudarte?</h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table class="servicios">
      <thead>
        <tr>
          <th>Tratamientos Faciales</th>
          <th>Tratamientos Corporales</th>
          <th>Biológicos Antiedad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Biológicos Antiedad</td>
          <td>Desintoxicación sistemática</td>
          <td>Terapia Biológicos Antiedad</td>
        </tr>
        <tr>
          <td>Aplicación de Toxina Botulínica</td>
          <td data-reveal-id="modal">Lipomasaje</td>
          <td></td>
        </tr>
        <tr>
          <td>Aplicación de Plasma rico en Plaquetas</td>
          <td>Ultrasonido de Alta Frecuencia</td>
          <td></td>
        </tr>
        <tr>
          <td>Aplicación de Homeopatía facial</td>
          <td>Ultrasonido de Baja Frecuencia</td>
          <td></td>
        </tr>
        <tr>
          <td>Microdermoabrasión</td>
          <td>LPG CELL MG Integral</td>
          <td></td>
        </tr>
        <tr>
          <td>Rejuvenecimiento Facial No Quirúrgico por Luz Pulsada</td>
          <td>Radiofrecuencia Alta, Baja y Mediana Potencia</td>
          <td></td>
        </tr>
        <tr>
          <td>Radiofrecuencia Pixelada</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Radiofrecuencia Alta, Baja y Mediana Potencia</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Técnicas de endermología</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Booster Facial</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <img src="/img/lipo.jpg" class="lateral" alt="lipo" />
  <div class="texto">
    <h4 class="bluetxt">Lipomasaje</h4>
    <h6>Celulitis, reducción de peso, etc…</h6>
<p>Elimina celulitis y moldea tu cuerpo, con tecnología de punta. A través de un masaje fotoneumatico con luz infra roja, reduce medidas, combate adiposidad y obtén el cuerpo que siempre soñaste. Adicionalmente el equipo cuenta con radiofrecuencia bipolar, que estimula la producción de colágeno en la piel, generando un efecto lifting en la misma. De esta manera, en la medida que la persona reduce medidas y moldea su cuerpo, tonifica su piel.</p>
    <p>Este equipo es ideal para tratamientos de celulitis, reducción de peso y medidas, tratamientos pre y post operatorios, post partos y tonificación corporal.</p>
  </div>
  <a href="" class="button expand success">Agendar Cita</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>