<div class="main-client-side">
  <div class="row">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-users bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title">¿Como podemos ayudarte?</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <table class="servicios">
        <thead>
          <tr>
            <th>Tratamientos Faciales</th>
            <th>Tratamientos Corporales</th>
            <th>Biológicos Antiedad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Biológicos Antiedad</td>
            <td>Desintoxicación sistemática</td>
            <td>Terapia Biológicos Antiedad</td>
          </tr>
          <tr>
            <td data-reveal-id="acido">Aplicación ácido hialurónico</td>
            <td data-reveal-id="modal">Lipomasaje</td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="colageno">Terapia facial para la inducción de colágeno</td>
            <td data-reveal-id="vela">VELASHAPE III</td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="hmfacial">Aplicación de Homeopatía facial</td>
            <td data-reveal-id="lipomax">LIMOPAX</td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="micro">Microdermoabrasión</td>
            <td data-reveal-id="body">BODYTERM PREMIUM</td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="rejuvenecimiento">Rejuvenecimiento facial con plasma rico en plaquetas</td>
            <td data-reveal-id="lpg">LPG</td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="radio">Radiofrecuencia monopolar (thermage)</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="pixel">Radiofrecuencia pixel rf</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="harmony">Booster Facial</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td data-reveal-id="tipoa">Aplicación toxina botulínica tipo a </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/lipo.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Lipomasaje</h4>
      <h6>Celulitis, reducción de peso, etc…</h6>
  <p>Elimina celulitis y moldea tu cuerpo, con tecnología de punta. A través de un masaje fotoneumatico con luz infra roja, reduce medidas, combate adiposidad y obtén el cuerpo que siempre soñaste. Adicionalmente el equipo cuenta con radiofrecuencia bipolar, que estimula la producción de colágeno en la piel, generando un efecto lifting en la misma. De esta manera, en la medida que la persona reduce medidas y moldea su cuerpo, tonifica su piel.</p>
      <p>Este equipo es ideal para tratamientos de celulitis, reducción de peso y medidas, tratamientos pre y post operatorios, post partos y tonificación corporal.</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="acido" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/ACIDO-HIALU.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Aplicación ácido hialurónico</h4>
      <h6>Hidratación, Firmeza & Disminución de arrugas</h6>
      <p>El ácido hialurónico está presente de forma natural en el organismo , forma parte de la matriz extracelular lo que permite lubricar, absorber, transportar los nutrientes en las células, en la piel del rostro, crea volumen y da soporte, con la edad las células van perdiendo su capacidad de producción, de tal manera  que ya no conserva el agua, (sin ácido hialurónico, la piel  del rostro se torna seca, marchita y arrugada) y con perdida  de volumen.
  El ácido hialurónico es un gel transparente idéntico al que produce el organismo, biodegradable,  la aplicación es uno de los tratamientos faciales inyectables más novedosos, por cuanto : hidrata a piel, mejora la firmeza , recupera volumen, disminuye arrugas .</p>
  <p>ZONAS DE APLICACIÓN : Mentón, pómulos, ojeras, labios, frente.
   Una vez evaluada  por el Medico , contamos con diferentes moléculas de acido hialurónico de acuerdo a sus necesidades.</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="tipoa" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/TOXINA-BOTULINICA.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Aplicación toxina botulínica tipo a</h4>
      <h6>Disminución de arrugas </h6>
      <p>La aplicación de toxina botulínica es un arte, debido que todos los rostros son diferentes y no debe cambiar la expresión natural del rostro al aplicarlo. La Toxina Botulínica  disminuye las arrugas dinámicas en la frente, ojos  y entrecejo mejorando el  aspecto de cansancio de estas zonas. </p>
      <p>Aplicación de toxina para hiperhidrosis primaria  en axila  (Sudoración).</p>
  <p> La sudoración excesiva en axilas es un problema muy común  en  hombres y  mujeres que puede afectar la  calidad de vida , social y laboral. Cuando  una persona le sudan axilas demasiado se debe a una hiperactividad de las glándulas sudoríparas , puede presentarse incluso cuando la temperatura es fría  y sin realizar ninguna actividad. La Toxina Botulínica , aplicada en la zona bloquea la función de las  glándulas sudoríparas , por un tiempo aproximado de 6 meses. <b>Previa valoración medica.</b></p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="rejuvenecimiento" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/aplica-a-cualquiera1.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Rejuvenecimiento facial con plasma rico en plaquetas</h4>
      <h6>Nutrición, Hidratación y Regeneración de los tejidos </h6>
      <p>El plasma rico en plaquetas y factores de crecimiento celular, estimula y potencializa las sustancias que dan nutrición e hidratación a la piel, acelerando la regeneración de los tejidos, los fibroblastos , colágeno, elastina y ácido hialurónico.  </p>
      <p> ZONA DE APLICACIÓN : Se aplica en la  piel del rostro, cuello, escote y manos.</p>
  <p> TÉCNICA DE APLICACIÓN:
<ul class="bullet">
  <li>El plasma rico en plaquetas se obtiene de la extracción de sangre del paciente.</li>
  <li>La muestra pasa por un proceso de centrifugación controlada donde se obtiene el plasma que es aplicado en las zonas señaladas.</li>
</ul>
¿Quien se lo puede realizar? Para rejuvenecimiento: a partir de los 30 años, o según la necesidad del paciente después de valoración medica.  
</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
    <div id="hmfacial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <img src="/img/FACIAL/facial.jpg" class="lateral" alt="lipo" />
      <div class="texto">
        <h4 class="bluetxt">Aplicación de Homeopatía facial</h4>
        <h6>Despigmentación facial, Reducción de Acné </h6>
        <p>Es un tratamiento esencial dentro de los protocolos de despigmentación facial, reducción de acné y  revitalización del rostro. Aplicación de medicamentos homeopáticos, oligoelementos y vitaminas en la piel del rostro que brindan hidratación, nutrición y tonificación según la necesidad de la piel del paciente. Este procedimiento hace parte de diferentes protocolos de rejuvenecimiento, hiperpigmentación, acné y rosácea; combatiendo directamente la causa de estos mismos. De igual manera,  desintoxica la piel, proporciona un drenaje, estimula la biorregulación hormonal, para lograr una biorrevitalización facial con mínimos efectos secundarios y sin intoxicar el organismo.</p>
      </div>
      <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="micro" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <img src="/img/FACIAL/aplica-a-cualquier-2.jpg" class="lateral" alt="lipo" />
      <div class="texto">
        <h4 class="bluetxt">Microdermoabrasión</h4>
        <h6>Despigmentación facial, Reducción de Acné y Rejuvenecimiento</h6>
        <p>Es uno de los mejores tratamientos preventivos y correctivos para el envejecimiento de la piel. Se utiliza en  procedimientos para  despigmentar el rostro, espalda y cuello. Excelente tratamiento para estimular la producción celular  y  como tratamiento preventivo y correctivo  del acné.</p>
        <p>La capa córnea de la epidermis es la capa más superficial de la piel y así mismo la más expuesta al medio ambiente y su agresión. Esta capa se  hace más gruesa con el tiempo.  La microdermoabrasión devuelve a la piel la luminosidad y suavidad volviéndola mas tersa. Excelente opción para mantenimiento del cuidado de la piel y preparación de esta a nuevos tratamientos.</p>
        <p>Este procedimiento se combina con tecnología LEDS (Diodos de emisores de luz). Actúa a través de un estimulo de luz sobre la piel, ayudando en la regeneración celular. Es ideal en el tratamiento con signos de envejecimiento, hiperpigmentación, acné y rosácea.</p>
      </div>
      <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  
  <div id="radio" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/radiofrecuencia.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Radiofrecuencia monopolar (thermage)</h4>
      <h6>Rejuvenecimiento facial con efecto lifting duradero</h6>
      <p>Contamos con la última  tecnología,  <b>RADIOFRECUENCIA MONOPOLA</b>, remodela las fibras de colágeno y elastina, que se encuentran en las capas mas profundas de la piel  del rostro, cuello  y que a partir de los 25 años  comienzan a perder su elasticidad, esto conduce a la generación de líneas finas o líneas de expresión, arrugas y flacidez de la piel.</p>
      <p>	Beneficios de la RDF Monopolar </p>
      <ul class="bullet">
        <li>Puede ser utilizada en cualquier tipo de piel  en cara y cuello.</li>
          <li>Flujo sanguíneo en los capilares.</li>
          <li>Fase de remodelamiento del colágeno en la dermis continua por 3 meses después del ultimo tratamiento.</li>
          <li>Efecto lifting duradero (1 año)</li>
        </ul>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="colageno" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/PLASMA.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Terapia facial para la inducción de colágeno</h4>
      <h6>Recuperación celular, Auto reparación de la piel, tratamiento cicatrices por acné</h6>
      <p>Con la nueva técnica  de micropunción con  microagujas se producen microcanales  en la piel, lo  que aumenta la permeabilidad y cambia el potencial eléctrico de la misma, desencadenando  una respuesta regeneradora, que se traduce en  la liberación de factores de crecimiento y en un proceso de recuperación celular, estimulando la auto reparación de la piel.</p>
      <p>Con el anterior procedimiento, se prepara la piel para la aplicación de principios activos liposomas con gran poder de penetración, estas soluciones aplicadas tópicamente son trasportadas a las capas más profundas de la piel.  </p>
      <p><b>Indicaciones </b>
          Flacidez, Arrugas superficiales y profundas, piel seca foto envejecimiento, manchas en la piel , acné y cicatrices de acné , poros dilatados , rosácea , cicatrices en general, quemaduras ,estrías de distensión , alopecia.</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="pixel" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/aplica-para-cualquiera-3.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Terapia facial para la inducción de colágeno</h4>
      <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
      <p>De cada punta (píxel) de la pieza de mano, en contacto con la piel y el aire, se forma  un arco de microplasma, que crea en forma controlada múltiples micro perforaciones y zonas de daño térmico en una mínima porción de piel de la zona a tratar. El tejido no afectado comienza el proceso de reparación que ocurre a través de las células intactas de la piel circundante, fibroblastos y células epidérmicas.</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="vela" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/aplica-para-cualquiera-3.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">VELASHAPE III</h4>
      <h6>Reducción abdominal, muslos, brazos y celulitis</h6>
      <p>Un tratamiento terapéutico único, no invasivo,  de acción inmediata,  cómodo e intensivo que responde a la creciente demanda de las personas  que desean remodelar totalmente la figura, sin tiempo de inactividad o malestar significativos,  disminuyendo el número de sesiones para obtener resultados óptimos.</p>
       <p>Su efectividad se debe a la combinación  y sinergia de distintas energías tales como:</p>
       <ul>
          <li>Radiofrecuencia bipolar.</li>
          <li>Infrarrojos.</li>
          <li>Manipulación mecánica de los tejidos mediante el uso de la absorción por impulsos.</li>
        </ul>
      <p>Obteniendo como resultado:</p>
      <ul>
        <li>Reducción del contorno abdominal, muslos y  brazos.</li>
        <li>Reducción  de la celulitis y mejora   de la textura de la piel.</li>
        <li>Quema de grasa localizada.</li>
        <li>Tonificación de la piel.</li>
        <li>Única tecnología en la que se realiza una sesión cada 10 días</li>
      </ul>
      
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="harmony" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/FACIAL/aplica-para-cualquiera-3.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Producción de colágeno, firmeza de la piel, apariencia fresca y joven</h4>
      <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
      <p>Harmony Lite integra toda la tecnología de luz pulsada AFT, con diferente longitud de onda, para inducir la neocolagenesis o, la producción de colágeno nuevo, que incrementa la firmeza de la piel. Con una serie de 3 a 6 sesiones podemos tensar la piel y ganar una apariencia más fresca y joven, sin necesidad de realizar tratamientos dolorosos o invasivos.</p>
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="lipomax" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/CORPORAL/Spa003.JPG" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Moldeamiento corporal, Celulitis, Reducción grasa localizada</h4>
      <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
     <p>Equipo no invasivo , maneja 3 tecnologías durante el mismo tratamiento.</p>
     <ul>
        <li>Masaje foto neumático con luz infrarroja. estimular la eliminación de grasas localizada</li>
        <li>Ultrasonido. Dispersa el calor en las capas  adiposas , aumentando  así la permeabilidad de  la membrana de los   adipocitos , efecto lipolitico , movilización así  la  grasa localizada</li>
        <li>Radiofrecuencia bipolar: realiza  remodelación del   colágeno mejorando la   textura de la piel .</li>
      </ul>
     <p>Recomendado para:</p>
     <ul>
       <li>Moldeamiento corporal - reducción de grasa localizada</li>
       <li>Celulitis,</li>
       <li>Drenaje linfático, edema y tratamientos pre- y post-</li>
     </ul>
     <p>Con esta combinación de tecnologías se tratar el cuerpo entero de forma integral.</p>
     
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="body" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
     <img src="/img/CORPORAL/Spa055.JPG" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">Remodelación Corporal, Tonificación y disminución de celulitis con efecto TRIACTIF</h4>
      <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
      <p>Un método innovador basado en la combinación simultánea de tres funciones en un solo equipo (TERMOACTIF, ESTIMULACIÓN y ELECTROPORACIÓN)</p>
      <ul>
        <li>Perdida de centímetros,  definición de contornos y tonifica al mismo tiempo.</li>
        <li>Favorece la degradación de la grasa por  termo estimulación (calor).</li>
        <li>“Mesoterapia sin agujas” Su principal objetivo es favorecer la formación o apertura de poros tanto en la piel como en la membrana celular para favorecer la penetración de principios activos a través de la piel.</li>
        <li>Entrenamiento y fortalecimiento muscular para quienes  requieran aumento de  masa muscular o recuperación muscular.</li>
      </ul>
      
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="lpg" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="/img/CORPORAL/LPG.jpg" class="lateral" alt="lipo" />
    <div class="texto">
      <h4 class="bluetxt">LPG</h4>
      <h6>Acción circulatoria, Anti-retención de líquidos, Reducción grasa localizada</h6>
     <p> TECNOLOGÍA: El equipo realiza una estimulación mecánica del tejido sin ningún tipo de radiaciones  (Masaje mecánico mediante rodillos motorizados que provocan estimulación en la piel) lo cual  permite abordar las zonas que tienen sobrecarga líquida, como edemas o zonas inflamatorias, por lo que disminuye retención de líquidos favoreciendo el funcionamiento del sistema venoso y linfático.</p>
      <p>Los dos rodillos motorizados del cabezal auto-impulsado enrollan y desenrollan el pliegue del tejido graso formado por un suave impulso de succión, única tecnología que se puede utilizar en tratamientos pre y post parto.</p>
      <p>Actúa sobre los siguientes sistemas :</p>
       <ul class="numbered">
         <li>Acción circulatoria: Aumenta la vascularización mejorando la oxigenación de los tejidos.</li>
         <li>Acción anti-retención de líquidos: Reactivando la circulación de los sistemas venosos y linfáticos.</li>
         <li>Acción anti-piel de naranja: Disminuyendo el tejido conjuntivo retraído y reduciendo la fibrosis.</li>
         <li>Acción anti-grasas localizadas: Consigue movilizar las grasas en profundidad, incrementa la lipólisis, (destrucción de la grasa). Si además se realiza ejercicio físico y se tiene una dieta adecuada, el efecto es mucho mayor.</li>
       </ul>

      
    </div>
    <a href="/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
</div>