<div class="main-client-side">
  <div class="row">
    <div class="large-8 columns large-centered">
      <span class="text-center db fa fa-users bluetxt fa-lg"></span>
      <br />
      <h3 class="the_title xxlarge">¿Como podemos ayudarte?</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <h3>Tratamientos Faciales</h3>
    </div>
  </div>
  
  <div class="block-treatment">
   <div class="row">
      <div class="large-12 columns">
         <ul class="treatments">
           <li class="erstemal" data-reveal-id="lfacial">
             <div class="thumb">
               <img src="/img/23.jpg" alt="" />
             </div>
             <div class="txt">
               <h4>Limpieza Facial</h4>
               <h6>Para una piel limpia y radiante</h6>
             </div>
           </li>
          <li data-reveal-id="acido">
            <div class="thumb">
              <img src="/img/1.png" alt="" />
            </div>
            <div class="txt">
               <h4>Aplicación ácido hialurónico</h4>
              <h6>Hidratación, Firmeza & Disminución de arrugas</h6>
            </div>
          </li>
          <li data-reveal-id="tipoa">
            <div class="thumb" >
              <img src="/img/2.png" alt="" />
            </div>
            <div class="txt">
              <h4>Aplicación toxina botulínica tipo A</h4>
              <h6>Disminución de lineas de expresión</h6>
            </div>
          </li>
          <li  data-reveal-id="rejuvenecimiento" class="tthird">
            <div class="thumb">
              <img src="/img/3.png" alt="" />
            </div>
            <div class="txt">
               <h4>Rejuvenecimiento facial con plasma rico en plaquetas</h4>
              <h6>Nutrición, Hidratación y Regeneración de los tejidos</h6>
            </div>
          </li>
          <li  data-reveal-id="hmfacial">
            <div class="thumb">
              <img src="/img/4.png" alt="" />
            </div>
            <div class="txt">
               <h4>Aplicación de Homeopatía facial</h4>
              <h6>Despigmentación facial, Reducción de Acné </h6>
            </div>
          </li>
          <li data-reveal-id="micro">
            <div class="thumb">
              <img src="/img/5.png" alt="" />
            </div>
            <div class="txt">
               <h4>Microdermoabrasión</h4>
              <h6>Despigmentación facial, Reducción de Acné y Rejuvenecimiento</h6>
            </div>
          </li>
          <li  data-reveal-id="radio" class="tthird">
            <div class="thumb">
              <img src="/img/6.png" alt="" />
            </div>
            <div class="txt">
              <h4>Radiofrecuencia monopolar (thermage)</h4>
              <h6>Rejuvenecimiento facial con efecto lifting duradero</h6>
            </div>
          </li>
          <li data-reveal-id="colageno">
            <div class="thumb">
              <img src="/img/7.png" alt="" />
            </div>
            <div class="txt">
               <h4>Terapia facial para la inducción de colágeno</h4>
              <h6>Recuperación celular, Auto reparación de la piel, tratamiento cicatrices por acné</h6>
            </div>
          </li>
          <li data-reveal-id="pixel">
            <div class="thumb">
              <img src="/img/8.png" alt="" />
            </div>
            <div class="txt">
               <h4>Radiofrecuencia pixel RF</h4>
              <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
            </div>
          </li>
          <li data-reveal-id="harmony" class="tthird">
            <div class="thumb">
              <img src="/img/9.png" alt="" />
            </div>
            <div class="txt">
               <h4>Harmony Lite</h4>
              <h6>Producción de colágeno, firmeza de la piel, apariencia fresca y joven</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <br />
  <div class="row">
    <div class="large-12 columns">
      <h3>Tratamientos Corporales</h3>
    </div>
  </div>
  
  <div class="block-treatment">
   <div class="row">
      <div class="large-12 columns">
         <ul class="treatments">
          <li class="erstemal"  data-reveal-id="vela">
            <div class="thumb">
              <img src="/img/10.png" alt="" />
            </div>
            <div class="txt">
               <h4>Velashape III</h4>
              <h6>Reducción abdominal, muslos, brazos y celulitis</h6>
            </div>
          </li>
          <li data-reveal-id="carboxi">
            <div class="thumb" >
              <img src="/img/25.jpg" alt="" />
            </div>
            <div class="txt">
              <h4>Carboxiterapia</h4>
              <h6>Elimina la celulitis y tonifica tu piel.</h6>
            </div>
          </li>
          <li data-reveal-id="gmp">
            <div class="thumb" >
              <img src="/img/24.jpg" alt="" />
            </div>
            <div class="txt">
              <h4>GMP Gimnasia metabólica pasiva</h4>
              <h6>Elimina hasta 800 calorías con tan solo una sesión</h6>
            </div>
          </li>
          <li data-reveal-id="dream" class="tthird">
            <div class="thumb" >
              <img src="/img/21.jpg" alt="" />
            </div>
            <div class="txt">
              <h4>DREAM SHAPER</h4>
              <h6>Adelgaza, elimina celulitis y pierde centímetros de grasa localizada</h6>
            </div>
          </li>
          <li data-reveal-id="bioregula">
            <div class="thumb" >
              <img src="/img/22.jpg" alt="" />
            </div>
            <div class="txt">
              <h4>Terapia biológica o bioreguladora</h4>
              <h6>Para ser bellos debemos estar sanos.</h6>
            </div>
          </li>
          <li data-reveal-id="lipomax">
            <div class="thumb" >
              <img src="/img/11.png" alt="" />
            </div>
            <div class="txt">
              <h4>Lipomax</h4>
              <h6>Moldeamiento corporal, Celulitis, Reducción grasa localizada</h6>
            </div>
          </li>
          <li data-reveal-id="body" class="tthird">
            <div class="thumb">
              <img src="/img/12.png" alt="" />
            </div>
            <div class="txt">
               <h4>Bodyterm Premium</h4>
              <h6>Remodelación Corporal, Tonificación y disminución de celulitis con efecto TRIACTIF</h6>
            </div>
          </li>
          <li data-reveal-id="lpg">
            <div class="thumb">
              <img src="/img/13.png" alt="" />
            </div>
            <div class="txt">
               <h4>LPG</h4>
              <h6>Acción circulatoria, Anti-retención de líquidos, Reducción grasa localizada</h6>
            </div>
          </li>
          <li data-reveal-id="pixel-corp">
            <div class="thumb">
              <img src="/img/14.png" alt="" />
            </div>
            <div class="txt">
               <h4>Pixel corporal y vshape</h4>
              <h6>Flacidez en abdomen, tratamiento post parto reducción de estrías</h6>
            </div>
          </li>
          <li data-reveal-id="manthus" class="tthird">
            <div class="thumb">
              <img src="/img/15.png" alt="" />
            </div>
            <div class="txt">
              <h4>Manthus</h4>
              <h6>Tratamiento para celulitis y Post-quirúrgico</h6>
            </div>
          </li>
          <li data-reveal-id="futura">
            <div class="thumb">
              <img src="/img/16.png" alt="" />
            </div>
            <div class="txt">
               <h4>Futura pro</h4>
              <h6>Celulitis, Adelgazamiento, Reafirmación del piel y musculo, Flacidez y tratamiento Post-parto</h6>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
    <div id="lfacial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Limpieza facial</h4>
        <h6>Para una piel limpia y radiante</h6>
        <p>Retira las  impurezas de la piel  del rostro, causadas por los agentes externos como la polución y residuos producto de las cremas y malos hábitos de limpieza diarios. Esto hace que se obstruyan los poros y se pierda la luminosidad.</p>
        <p>¿En que consiste el procedimiento?</p>
        <p>De acuerdo al tipo de piel, se prepara al paciente con productos de excelente calidad, para luego,  colocar el vapor ozono e  iniciar la extracción de comedones (puntos negros) que  se realiza en forma manual.</p>
        <p>Este tratamiento se complementa con un equipo de fototerapia  para mejorar el aspecto de la piel y finaliza con la aplicación de una mascarilla hidratante. </p>
        
      </div>
      <a href="/?o=lfacial#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="bioregula" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Terapia biológica o bioreguladora</h4>
        <h6>Para ser bellos debemos estar sanos.</h6>
        <p>Nuestra vida cotidiana, el estrés, la alimentación y el paso de los años deterioran la salud y la belleza. Las terapias biológicas que ofrecemos en el centro medico desintoxican, revitalizan  y regeneran  todo nuestro cuerpo.</p>
        <p>Con este enfoque de tratamiento buscamos el bienestar, la salud del paciente y mejorar su belleza desde el interior siendo un complemento de los tratamientos estéticos.</p>
        <p>Con estos tratamientos reestructuramos el cuerpo desde adentro, para que la salud del mismo, se refleje por fuera.</p>
        <p>Complemento que aumenta los resultados de la medicina estética en:</p>
        <ul>
          <li>Detoxificación básica y avanzada</li>
          <li>Sobrepeso y obesidad</li>
          <li>Acné</li>
          <li>Fatiga crónica</li>
          <li>Previene el envejecimiento</li>
          <li>Estrés</li>
          <li>Vitalidad masculina</li>
          <li>Vitalidad femenina</li>
          <li>Recuperar elasticidad de la piel</li>
          <li>Fortalecer el sistema inmunológico</li>
          <li>Aumentan las capacidades cognitivas</li>
        </ul>
        <p>Disminuyen los efectos de la acumulación de radicales libres sobre las células de la piel y promueve la reparación de las mismas.</p>
      </div>
      <a href="/?o=bioregula#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="gmp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">GMP - Gimnasia metabólica pasiva</h4>
        <h6>Elimina hasta 800 calorías con tan solo una sesión</h6>
        <p>La Gimnasia Metabólica Pasiva con luz infrarroja,  produce unas ondas de calor que aumentan la temperatura corporal  del paciente y la aceleración metabólica de su organismo. Este equipo médico, tiene una función terapéutica, desinflama las articulaciones y tejidos.</p>
        <p>En tan sólo 40 minutos elimina hasta 800 calorías, equivalente a 1 hora  de deporte de resistencia, y tiene un efecto en la eliminación de toxinas. Produce relajación y eliminación de tensiones musculares y articulares ,todo lo anterior conlleva un efecto energizante. </p>
        <p>Este procedimiento se recomienda a personas con altas cargas de estrés,  viajeros para combatir el  jetlag , deportistas y como  complemento de otros  tratamientos.</p>
      </div>
      <a href="/?o=gmp#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="carboxi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Carboxiterapia</h4>
        <h6>Elimina la celulitis y tonifica tu piel.</h6>
        <p>Es la aplicación tras cutánea o subcutánea de dióxido de carbono (CO2) con fines terapéuticos, lo cual, restablece la morfología y la función de la microcirculación para destruir la base de la celulitis. Este tratamiento aumenta progresivamente la cantidad y velocidad del flujo sanguíneo, estimulando el metabolismo, disminuyendo la acumulación de líquido a nivel intersticial, haciendo lipólisis y disminuyendo la fibrosis.</p>
        <p> Se recomienda en:</p>
        <ul>
          <li>Adiposidad localizada</li>
          <li>Cicatrices de acné ,quirúrgicas y traumáticas</li>
          <li>Estrías</li>
          <li>Ojeras, arrugas alrededor del ojo</li>
          <li>Rejuvenecimiento facial , corporal y de manos</li>
          <li>Pre- post liposucción para tratamientos de la fibrosis.</li>
        </ul>
      </div>
      <a href="/?o=carboxi#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <div id="dream" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">DREAM SHAPER</h4>
        <h6>Adelgaza, elimina celulitis y pierde centímetros de grasa localizada.</h6>
        <p>Diseñado para realizar tratamientos faciales y corporales  con  más de tres tecnologías en un solo equipo:</p>
        
        <ul>
          <li><b>Lumiterapia:</b> trasmisión foto lumínica  la cual  realiza regeneración celular , incrementando la producción de colágeno y lifting de piel.</li>
          <li><b>Biofrecuencias:</b> estímulos con ondas  de información frecuencial, que activan  los diferentes tejidos del cuerpo de manera simultanea (tejido graso,  dérmico, vascular, muscular y linfático)</li>
          <li>Micro estímulos de tipo terapéutico , con micro varillas que activan  la circulación periférica, regenerando tejidos.</li>
          <li><b>Guantes de Bioenergía:</b> elaborados con hilos  fibra de grafito que permiten penetrar la información de las frecuencias  a través de las manos de su terapeuta.</li>
          <li><b>Ultrasonido:</b> CORPORAL favorece el rompimiento de los depósitos de grasa , anticelulítico, aumentando la firmeza de la piel.  FACIAL para eliminación de arrugas , mejorando la firmeza de la piel.</li>
        </ul>
        
        <p><b>Facial:</b> lifting  facial no quirúrgico , reducción de líneas finas.</p>
        <p><b>Corporal:</b> ultra adelgazamiento, anticelulítico,  adelgazamiento y levantamiento de glúteos, reducción de centímetros  flash, moldeamiento de caderas y muslos fortalecimiento del piso pélvico.</p>
        <p>Otros relajación reflexología desintoxicación drenaje linfático.</p>
        <p>Se utilizan las diferentes tecnologías en cada sesión , lo que hace mas efectivo y eficiente el tratamiento, dando resultados rápidos para  hacer de su cuerpo su forma deseada.</p>
      </div>
      <a href="/?o=dream#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>


  <div id="pixel-corp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Pixel corporal y vshape</h4>
      <h6>Flacidez en abdomen, tratamiento post parto reducción de estrías</h6>
      <p>Rejuvenecimiento, tonifica y recoge flacidez mediante incrementación de la formación de colágeno acortando y rejuveneciendo sus fibras.</p>

  <ul>
    <li>Flacidez en abdomen por perdidas de peso , en casos de post operatorios de bypass gástrico</li>
    <li>post parto y  reducción de estrías.</li>
  </ul>

<p>Una sesión cada 20 días de  RF pixelada según la indicación medica.</p>
    </div>
    <a href="/?o=pixelco#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
    <div id="manthus" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Manthus</h4>
        <h6>Tratamiento para celulitis y Post-quirúrgico</h6>
<p>Su principio se basa en la aplicación de ultrasonido de alta potencia en tres cristales de cuarzo (encargada de diluir los contenidos de las células adiposas (células grasas) mediante un masaje ultra potente. (son luego metabolizados por el organismo de forma natural,) es aquí donde LA TÉCNICA se basa en  aumentar el metabolismo, para la  eliminación de estos desechos grasos.</p>
        <p>
          <strong>EXCELENTE RESULTADOS EN:</strong>
        </p>
        <ul class="bullet">
          <li>Celulitis Grado 1: Este grado de celulitis no es visible, ni perceptible.</li>
          <li>Celulitis Grado 2: Este grado de celulitis es visible y perceptible.</li>
          <li>Celulitis Grado 3: Esta fase es visible al reposo, aparecen nódulos debido grasa localizada.</li>
          <li>Post-quirúrgico reciente 1: Programa usado para el post-operatorio inmediato.</li>
        </ul>
        
        <p>El procedimiento dura en promedio 40 minutos, dependiendo de la zona a tratar y se realiza cada 72 horas.</p>
        
      </div>
      <a href="/?o=manthus#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  
  
      <div id="futura" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <div class="lateral-div">
        </div>
        <div class="texto">
          <h4 class="bluetxt">Futura pro</h4>
          <h6>Celulitis, Adelgazamiento, Reafirmación de la piel y musculo, Flacidez y tratamiento Post-parto</h6>
<p>Un sistema basado en la bioestimulación mediante  códigos tróficos que son el lenguaje del cuerpo, llevando la señal directamente a la zona del cuerpo que lo requiera, es hablar, modular y construir mensajes para estimular los tejidos.</p>
<p>   Cuenta con 44 tipos de ondas biopticas diferentes para estimular cualquier  parte del cuerpo:  </p>
 <ul>
     <li>Tejido adiposo</li>
     <li>Tejido conectivo</li>
     <li>Tejido osteomuscular</li>
   </ul>
<p>Mas de 150 programas, lo que permite  personalizar  el tratamiento de acuerdo a las necesidades del paciente .  Trata hasta 6 zonas del  cuerpo a la vez en una sola sesión </p>

 
        </div>
        <a href="/?o=futura#agendarcita" class="button expand success">Agendar Cita</a>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
  
  
  <div id="acido" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div"></div>
    <div class="texto">
      <h4 class="bluetxt">Aplicación ácido hialurónico</h4>
      <h6>Hidratación, Firmeza & Disminución de arrugas</h6>
      <p>El ácido hialurónico está presente de forma natural en el organismo, forma parte de la matriz extracelular

lo que permite lubricar, absorber y transportar los nutrientes en las células de la piel. Con la edad las 

células van perdiendo su capacidad de producción, de tal manera  que ya no conserva el agua, por lo 

cual la piel  del rostro y cuello se torna seca, marchita, arrugada y con pérdida  de volumen.</p>
<p>
La aplicación de ácido hialurónico, es uno de los tratamientos faciales inyectables más novedosos, toda 

vez que hidrata y mejora la firmeza de la piel, recuperando volumen y disminuyendo las líneas de 

expresión. 
</p>
  <p>USOS : Levantamiento de pómulos, relleno de ojeras, definición y rellano de labios, hidratación

Una vez el paciente sea evaluado por nuestro personal médico, se le aplicará el producto de acuerdo a 

sus necesidades.</p>
    </div>
    <a href="/?o=acido#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="tipoa" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Aplicación toxina botulínica tipo A</h4>
      <h6>Disminución de líneas de expresión </h6>
      <p>La aplicación de toxina botulínica es un arte, debido que todos los rostros son diferentes y su aplicación

no debe cambiar la expresión natural del mismo. Este producto  disminuye notablemente las líneas de 

expresión en la frente, ojos  y entrecejo, mejorando el  aspecto de cansancio de estas zonas.</p>
  <p>De igual manera se utiliza con frecuencia la aplicación de toxina botulínica para dar manejo a la 

hiperhidrosis primaria en axila. (sudoración excesiva) 

La toxina botulínica, aplicada en la zona, bloquea la función de las  glándulas sudoríparas, por un tiempo 

aproximado de 6 meses. <b>Previa valoración medica.</b></p>
    </div>
    <a href="/?o=botox#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="rejuvenecimiento" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Rejuvenecimiento facial con plasma rico en plaquetas</h4>
      <h6>Nutrición, Hidratación y Regeneración de los tejidos </h6>
      <p>El plasma rico en plaquetas y factores de crecimiento celular, estimula y potencializa las sustancias que

dan nutrición e hidratación a la piel, acelerando la regeneración de los tejidos, los fibroblastos , colágeno, 

elastina y ácido hialurónico.</p>
      <p> ZONA DE APLICACIÓN : Se aplica en la  piel del rostro, cuello, escote y manos.</p>
  <p> TÉCNICA DE APLICACIÓN:
<ul class="bullet">
  <li>El plasma rico en plaquetas se obtiene de la extracción de sangre del paciente.</li>
  <li>La muestra pasa por un proceso de centrifugación controlada donde se obtiene el plasma que es aplicado en las zonas señaladas.</li>
</ul>
PERFIL DEL PACIENTE:
Este procedimiento se puede realizar de los 25 años en adelante.
</p>
    </div>
    <a href="/?o=rejuve#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
    <div id="hmfacial" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Aplicación de Homeopatía facial</h4>
        <h6>Despigmentación facial, Reducción de Acné </h6>
        <p>Es un tratamiento esencial dentro de los protocolos de despigmentación facial, reducción de acné y

revitalización del rostro. Aplicación de medicamentos homeopáticos, oligoelementos y vitaminas en la 

piel del rostro que brindan hidratación, nutrición y tonificación según la necesidad de la piel del paciente. 

Este procedimiento hace parte de diferentes protocolos de rejuvenecimiento, hiperpigmentación, acné y 

rosácea. De igual manera,  desintoxica la piel, proporciona un drenaje, estimula la biorregulación 

hormonal para lograr una biorrevitalización facial con mínimos efectos secundarios y sin intoxicar el 

organismo.</p>
      </div>
      <a href="/?o=homeo#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="micro" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="lateral-div">
      </div>
      <div class="texto">
        <h4 class="bluetxt">Microdermoabrasión</h4>
        <h6>Rejuvenecimiento y despigmentación facial.</h6>
        <p>La capa córnea de la epidermis es la capa más superficial de la piel y así mismo la más expuesta al

medio ambiente y su agresión. Ésta se  hace más gruesa con el tiempo. La microdermoabrasión 

devuelve a la piel la luminosidad y suavidad volviéndola mas tersa. Es una excelente opción para el 

mantenimiento del cuidado de la piel y preparación de la misma a nuevos tratamientos</p>
        <p>Este procedimiento se combina con tecnología LEDS (Diodos de emisores de luz). La cual actúa a través

de un estimulo de luz sobre la piel, ayudándola a activar regeneración celular. Es ideal para tratamientos 

de rejuvenecimiento y despigmentación facial.</p>
      </div>
      <a href="/?o=micro#agendarcita" class="button expand success">Agendar Cita</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  
  <div id="radio" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Radiofrecuencia monopolar (thermage)</h4>
      <h6>Rejuvenecimiento facial con efecto lifting duradero</h6>
      <p>Contamos con la última  tecnología,  <b>RADIOFRECUENCIA MONOPOLAR</b>, remodela las fibras de colágeno y elastina, que se encuentran en las capas mas profundas de la piel  del rostro, cuello  y que a partir de los 25 años  comienzan a perder su elasticidad, esto conduce a la generación de líneas finas o líneas de expresión, arrugas y flacidez de la piel.</p>
      <p>	Beneficios de la RDF Monopolar </p>
      <ul class="bullet">
        <li>Puede ser utilizada en cualquier tipo de piel  en cara y cuello.</li>
          <li>Flujo sanguíneo en los capilares.</li>
          <li>Fase de remodelamiento del colágeno en la dermis continua por 3 meses después del ultimo tratamiento.</li>
          <li>Efecto lifting duradero (1 año)</li>
        </ul>
    </div>
    <a href="/?o=radio#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="colageno" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Terapia facial para la inducción de colágeno</h4>
      <h6>Recuperación celular, Auto reparación de la piel, tratamiento cicatrices por acné</h6>
      <p>Con la nueva técnica  de micropunción se producen pequeños canales en la piel, que aumentan la

permeabilidad y cambian el potencial eléctrico de la misma, desencadenando  una respuesta 

regeneradora, que se traduce en  la liberación de factores de crecimiento y en un proceso de 

recuperación celular.</p>
      <p>Con el anterior procedimiento, se prepara la piel para la aplicación de principios activos con gran poder

de penetración, estas soluciones aplicadas tópicamente son trasportadas a las capas más profundas de 

la piel generando hidratación y revitalización en la piel.</p>
      <p><b>PERFIL DEL PACIENTE </b>
          Este es un tratamiento indicado para pacientes con: Flacidez en cuello y cara, líneas de expresión

          superficiales y profundas, piel seca y hiperpigmentación, acné y cicatrices de acné, poros dilatados, 

          rosácea , cicatrices en general, quemaduras ,estrías de distensión y alopecia.</p>
    </div>
    <a href="/?o=colageno#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="pixel" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Radiofrecuencia Pixel RF</h4>
      <h6>Tratamiento de estrías, Disminución cicatrices acné, Tensado de la piel</h6>
      <p>Tratamiento especial para estimular la producción de colágeno en la piel, con la ayuda de equipos de

radiofrecuencia de última generación; los cuales producen resultados contundentes en la flacidez 

dérmica, la reducción de cicatrices, eliminación de estrías y el rejuvenecimiento general.</p>
    </div>
    <a href="/?o=fre#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="vela" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">VELASHAPE III</h4>
      <h6>Eliminación de grasa localizada en: Abdomen, muslos y brazos. Tratamiento para disminuir la celulitis.</h6>
      <p>Un tratamiento terapéutico único, no invasivo,  de acción inmediata,  cómodo e intensivo que responde a la creciente

demanda de las personas  que desean remodelar totalmente la figura, sin tiempo de inactividad o malestar 

significativos,  disminuyendo el número de sesiones para obtener resultados óptimos como:</p>
      <ul>
        <li>Reducción del contorno abdominal, muslos y  brazos.</li>
        <li>Reducción  de la celulitis y mejora   de la textura de la piel.</li>
        <li>Tonificación de la piel.</li>
      </ul>
      
    </div>
    <a href="/?o=vela#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="harmony" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Harmony Lite</h4>
      <h6>Producción de colágeno, firmeza de la piel, apariencia fresca y joven</h6>
      <p>Harmony Lite integra toda la tecnología de luz pulsada AFT, con diferente longitud de onda, para inducir la neocolagenesis o, la producción de colágeno nuevo, que incrementa la firmeza de la piel. Con una serie de 3 a 6 sesiones podemos tensar la piel y ganar una apariencia más fresca y joven, sin necesidad de realizar tratamientos dolorosos o invasivos.</p>
    </div>
    <a href="/?o=harmony#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="lipomax" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">Lipomax</h4>
      <h6>Moldeamiento corporal, Celulitis, Reducción grasa localizada</h6>
     <p>Elimina celulitis y moldea tu cuerpo, con tecnología de punta. A través de un masaje fotoneumatico con

luz infra roja, reduce medidas, combate adiposidad y obtén el cuerpo que siempre soñaste. 

Adicionalmente el equipo cuenta con radiofrecuencia bipolar, que estimula la producción de colágeno en 

la piel, generando un efecto lifting en la misma. De esta manera, en la medida que la persona reduce 

medidas y moldea su cuerpo, tonifica su piel.</p>
     
     <p>Este equipo es ideal para tratamientos de celulitis, reducción de peso y medidas, tratamientos pre y post

operatorios, post partos y tonificación corporal.</p>
     
    </div>
    <a href="/?o=lipomax#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="body" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
     <div class="lateral-div">
     </div>
    <div class="texto">
      <h4 class="bluetxt">Bodyterm Premium</h4>
      <h6>Remodelación Corporal, Tonificación y disminución de celulitis con efecto TRIACTIF</h6>
      <p>Un método innovador basado en la combinación simultánea de tres funciones en un solo equipo (TERMOACTIF, ESTIMULACIÓN y ELECTROPORACIÓN)</p>
      <ul>
        <li>Perdida de centímetros,  definición de contornos y tonifica al mismo tiempo.</li>
        <li>Favorece la degradación de la grasa por  termo estimulación (calor).</li>
        <li>“Mesoterapia sin agujas” Su principal objetivo es favorecer la formación o apertura de poros tanto en la piel como en la membrana celular para favorecer la penetración de principios activos a través de la piel.</li>
        <li>Entrenamiento y fortalecimiento muscular para quienes  requieran aumento de  masa muscular o recuperación muscular.</li>
      </ul>
      
    </div>
    <a href="/?o=bodp#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
  <div id="lpg" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="lateral-div">
    </div>
    <div class="texto">
      <h4 class="bluetxt">LPG</h4>
      <h6>Acción circulatoria, Anti-retención de líquidos, Reducción grasa localizada</h6>
     <p> TECNOLOGÍA: El equipo realiza una estimulación mecánica del tejido sin ningún tipo de radiaciones  (Masaje mecánico mediante rodillos motorizados que provocan estimulación en la piel) lo cual  permite abordar las zonas que tienen sobrecarga líquida, como edemas o zonas inflamatorias, por lo que disminuye retención de líquidos favoreciendo el funcionamiento del sistema venoso y linfático.</p>
     <p>Los dos rodillos motorizados del cabezal auto-impulsado enrollan y desenrollan el pliegue del tejido graso formado

por un suave impulso de succión, única tecnología que se puede utilizar en tratamientos pre y post parto.</p>
      <p>Actúa sobre los siguientes sistemas :</p>
       <ul class="numbered">
         <li><strong>Acción circulatoria:</strong> Aumenta la vascularización mejorando la oxigenación de los tejidos.</li>
         <li><strong>Acción anti-retención de líquidos:</strong> Reactivando la circulación de los sistemas venosos y linfáticos.</li>
         <li><strong>Acción anti-piel de naranja:</strong> Disminuyendo el tejido conjuntivo retraído y reduciendo la fibrosis.</li>
         <li><strong>Acción anti-grasas localizadas:</strong> Consigue movilizar las grasas en profundidad, incrementa la lipólisis, (destrucción de la grasa). Si además se realiza ejercicio físico y se tiene una dieta adecuada, el efecto es mucho mayor.</li>
       </ul>

      
    </div>
    <a href="/?o=lpg/#agendarcita" class="button expand success">Agendar Cita</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  
</div>