<div class="row expanded">
  <div class="large-12 columns">
    <a href="/" class="button tiny"><span class="fa fa-undo"></span> Volver</a>
    <h1>{{article.title}}</h1>
    <div class="content">{{{article.fulltext}}}</div>
  </div>
</div>