<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024;initial-scale=0.75;minimum-scale=1.0;maximum-scale=1.0">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/scripts/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/scripts/timepicker/jquery.timepicker.css">
  <link rel="shortcut icon" type="image/png" href="/img/32.png"/>
  {{#ifCond pageTitle "articles"}}
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.1.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.1.0/jssocials-theme-flat.css" />
  {{/ifCond}}
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  {{#ifCond pageTitle "articles"}}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.1.0/jssocials.min.js"></script>
  {{/ifCond}}
  <script src="/scripts/ckeditor/ckeditor.js"></script>
  <script src="/scripts/datatables/media/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.10.11/js/dataTables.foundation.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/locale/es.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone.js'></script>
  <script src='/scripts/fullcalendar/dist/fullcalendar.js'></script>  
  <script src='/scripts/fullcalendar/dist/locale/es.js'></script>  
  <script src='/scripts/timepicker/jquery.timepicker.js'></script>  
  
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  
  {{> side_menu }}
  <div class="admin-body">
    {{> alerts }}
    {{{body}}}
  </div>
  
  <script src="/scripts/zurb-foundation-5/js/foundation/foundation.js"></script>
  <script src="/scripts/zurb-foundation-5/js/foundation/foundation.reveal.js"></script>
  <script src="/js/ux.js"></script>
  </body>
</html>
