<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024;initial-scale=0.75;minimum-scale=1.0;maximum-scale=1.0">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/scripts/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/scripts/timepicker/jquery.timepicker.css">
  <link rel="stylesheet" href="/css/hourSelector.css">
  <link rel="shortcut icon" type="image/png" href="/img/16.png"/>
  {{#ifCond pageTitle "articles"}}
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.1.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.1.0/jssocials-theme-flat.css" />
  {{/ifCond}}
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src='/scripts/fullcalendar/node_modules/moment/moment.js'></script>
  <script src='/scripts/fullcalendar/node_modules/moment/locale/es.js'></script>
  <script src='/scripts/moment-timezone/moment-timezone.js'></script>
  <script src="/scripts/datatables/media/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.10.11/js/dataTables.foundation.min.js"></script>
  <script src='/scripts/fullcalendar/dist/fullcalendar.js'></script>  
  <script src='/scripts/fullcalendar/dist/locale/es.js'></script>  
  <script src='/js/jquery.timepicker.js'></script>  
  
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  {{> home_menu }}
  {{> alerts }}
  {{{body}}}
  
  <div class="footer">
    <ul class="centerize info">
      <li>
        <a href="mailto:info@mariabahamon.com"><span class="fa fa-envelope fa-3x whitetxt"></span> info@mariabahamon.com</a>
      </li>
      <li>
        <a href="cel//321 384 03 32"><span class="fa fa-phone fa-3x whitetxt"></span> +57 321 384 03 32 +57 1 755 7199/7200</a>
      </li>
      <li>
        <a href="cel//311 278 18 87"><span class="fa fa-flag fa-3x whitetxt"></span> Carrera 11 A # 93-52 Edificio Torre 93 Consultorio 301</a>
      </li>
    </ul>
    <p>Copyright © 2016 María Bahamón. Todos los derechos reservados</p>
  </div>
  <script src="/scripts/zurb-foundation-5/js/foundation/foundation.js"></script>
  <script src="/scripts/zurb-foundation-5/js/foundation/foundation.reveal.js"></script>
  <script src="/js/hourSelector.js"></script>
  <script src="/js/ux.js"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5825f349277fb7280dc1975a/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  </body>
</html>
