<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/scripts/zurb-foundation-5/js/foundation/foundation.js"></script>
  <script src="/scripts/ckeditor/ckeditor.js"></script>
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  <div class="nav">
    <a class="logo" href="/"><img src="/img/group-2.png" alt="" /></a>
    <ul class="navigation">
      <li><a href="">BLOG</a></li>
      <li><a href="/experiences">EXPERIENCIAS</a></li>
      <li><a href="/contact">CONTACTO</a></li>
    </ul>
    <ul class="social">
      <li><a href=""><span class="fa fa-twitter fa-large"></span></a></li>
      <li><a href=""><span class="fa fa-facebook fa-large"></span></a></li>
      <li><a href=""><span class="fa fa-instagram fa-large"></span></a></li>
    </ul>
  </div>
  <div class="main-body">{{{body}}}</div>
  <div class="footer">
    <p>Copyright © 2016 Aram’s SAS. Todos los derechos reservados</p>
  </div>
  <script src="/js/ux.js"></script>
  </body>
</html>
